# Identificação do participante

Preencha a célula abaixo com sua matrícula no formato F + 7 algarismos, sem dígito verificador.

Exemplo:

    chaveF = "F1234567"

In [1]:
chaveF = 'F2872541'

# Orientações Gerais:

1) Inclua sua matrícula na seção de Identificação, no início deste Notebook.

2) **Link para envio:**

- https://envio-academiabb.bb.com.br/

    - **Atenção:** não serão acatadas outras formas de envio. O link acima permite acesso com senha de portais externos.

3) Selecione o eixo I.A e Ciência de Dados ao enviar.

**Nome do arquivo:** cada participante deverá baixar o presente arquivo e renomeá-lo de modo a conter:

- A matrícula com F maiúsculo, sete algarismos e sem dígito (FXXXXXXX)

- O eixo o qual a entrega se refere em letras minúsculas: ciencia_de_dados

- O nome não deve conter espaços em branco. Substitua-os por “_”.

- O versionamento será gerado automaticamente na subida do arquivo, por meio do timestamp do envio.

    - Exemplo1: FXXXXXX_ciencia_de_dados.ipynb

    - Exemplo2: FXXXXXX_ciencia_de_dados_v3.ipynb

**Formato:** .ipynb

- **Atenção:** não carregar nenhum outro formato de arquivo, pois será ignorado

**Prazo final:** até às 18h (horário de Brasília) do dia 15/11/2024.

## Requerimentos de versões

Para construção do desafio em qualquer ambiente externo, recomendamos utilizar as versões de biblioteca abaixo especificadas:

|Biblioteca|Versão|
|---|---|
|pandas|1.5.2 ou inferior|
|numpy|1.23.5 ou inferior|
|matplotlib|3.5.2 ou inferior|
|imblearn|0.11.0|
|seaborn|0.12.2 ou inferior|
|scikit-learn|1.2.0 ou inferior|

Caso necessite utilizar outras bibliotecas, verifique a versão disponível no [labblite](https://labblite.bb.com.br/) após importação da biblioteca, por meio da instrução:
    
    print(nome_biblioteca. __version__)
    
    Exemplo:
        import pandas as pd
        print(pd. __version__)

Caso a biblioteca não esteja disponível no labblite, entre em contato com a comissão organizadora para verificar a possibilidade de utilização no script, sob o risco de gerar erros no código.

## Pode:

- Inserir células no notebook.

    Obs: as células adicionadas após a seção do Boletim de Soluções não surtirão efeitos para fins de validação dos resultados dos exercícios propostos.

- Fazer vários envios (quantos forem necessários).

- Desenvolver em qualquer plataforma python:

    - [Labblite](https://labblite.bb.com.br/)
    
    Atenção: consulte as versões homologadas pelo Banco no aplicativo <b>BB Verifica Software</b> antes de instalar qualquer aplicativo nas máquinas corporativas.

## Não pode:

- Alterar bases de dados.

- Utilizar outros arquivos além dos disponibilizados.

- Excluir linhas do Boletim de Soluções.

- Apresentar erros no código.

- Compartilhar arquivos/código.

# Desafio Ciência de Dados

Nos últimos tempos, o Banco do Brasil tem enfrentado um desafio crescente: a migração de clientes que optam por realizar a portabilidade de salário para outras instituições financeiras. Esta tendência de saída, conhecida internamente como "Lob Vai", não só reduz nossa base de clientes, mas também impacta diretamente nossa receita e reputação no mercado.

Para enfrentar esse desafio de maneira eficaz, lançamos um desafio analítico com o objetivo de desenvolver um modelo preditivo que consiga identificar quais clientes estão mais propensos a migrar para outros bancos. O intuito é permitir que possamos agir proativamente, oferecendo estratégias de retenção personalizadas, melhorando nossos serviços e fortalecendo a relação com nossos clientes.

Para este desafio, você receberá um arquivo CSV contendo dados abrangentes dos clientes, incluindo informações demográficas, comportamentais e transacionais, além de uma variável que indica se o cliente optou ou não pela portabilidade de salário. Seu objetivo é realizar uma análise completa, desde a visualização dos dados até a construção e validação do modelo preditivo.

Os participantes devem entregar um Jupyter Notebook no formato .ipynb, documentando todas as etapas do processo de modelagem. Isso inclui:

1. **Exploração e Visualização dos Dados:** Analisar e visualizar os dados para entender padrões e identificar possíveis relações entre as variáveis.

2. **Pré-processamento dos Dados:** Limpeza e transformação dos dados, tratando valores ausentes, outliers e normalizando variáveis, se necessário.

3. **Seleção e Construção do Modelo:** Escolha de algoritmos de aprendizado de máquina apropriados e construção do modelo preditivo.

4. **Treinamento e Validação do Modelo:** Divisão dos dados em conjuntos de treino e teste, treinamento do modelo e avaliação de seu desempenho utilizando métricas adequadas.

5. **Interpretação dos Resultados e Ajustes Finais:** Análise dos resultados, ajuste dos hiperparâmetros e validação do modelo para garantir sua eficácia e precisão.

Este é um momento crucial para demonstrar suas habilidades analíticas e de modelagem preditiva em um contexto real e de grande importância para o Banco do Brasil. Estamos ansiosos para ver suas soluções inovadoras e eficazes que nos ajudarão a reter nossos valiosos clientes e garantir o crescimento sustentável do banco.

# Metadados dos Atributos

| Campo          | Descrição                                                                                                               | Tipo de Dado | Exemplo       |
|----------------|-------------------------------------------------------------------------------------------------------------------------|--------------|---------------|
| IDFR           | Número identificador do cliente/Identificador único do cliente.                                                         | Numérico     | 1234          |
| DT_REF         | Data de referência do registro.                                                                                         | Data         | 2024-07-22    |
| IN_EVS         | Indicador de evasão (Código Indicador de evasão do cliente).                                                            | Binário      | 1             |
| EST_CVL        | Estado civil do cliente.                                                                                                | Categórico   | Casado        |
| CLS_GNR        | Classificação de gênero do cliente.                                                                                     | Categórico   | F             |
| RGAO_GEO       | Região geográfica do cliente.                                                                                           | Categórico   | Sudeste       |
| SGM_CLI        | Código do Perfil de Segmentação do Cliente Categorizada.                                                                | Categórico   | Varejo        |
| VL_SLR_MSL     | Valor do salário mensal do cliente.                                                                                     | Numérico     | 3500.50       |
| QT_PRD_COM_BB  | Quantidade de produtos do cliente com o Banco do Brasil.                                                                | Numérico     | 3             |
| TMP_RLC_COM_BB | Tempo de relacionamento com o Banco do Brasil em anos.                                                                  | Numérico     | 5             |
| CTGR_MC_EPGR   | Categoria de Mercado do Empregador.                                                                                     | Categórico   | Atacado       |
| RAMO_MC_EPGR   | Ramo de Mercado do Empregador.                                                                                          | Categórico   | Comércio      |
| NM_CTRA        | Nome da Carteira do cliente no domínio do Banco do Brasil.                                                              | Categórico   | Contrato_1234 |
| VL_CST_SVR     | Valor do custo de servir de cada cliente. Custo de interação direta e indireta que o cliente realiza com o BB.          | Numérico     | 150.75        |
| FXA_IDD        | Código da Faixa de Idade do Cliente. Intervalos de idade, em anos, para agrupamento de clientes em diferentes gerações. | Categórico   | 20-29         |
| QT_RCLM_CLI    | Quantidade de reclamações feitas pelo cliente no último trimestre.                                                      | Numérico     | 2             |
| PRI_ATDT_CLI   | Indicador de priorização de atendimento. Exemplo: 1 = Priorizado; 0 = Não Priorizado.                                   | Numérico     | 1             |

# Importar bibliotecas

Use esse espaço para importar as bibliotecas necessárias para execução do seu notebook.

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Exercício 1 - Importando os dados

Criar um DataFrame chamado **exercicio1** com os seguintes atributos:

|  | Atributo       | Descrição                             | Formato        | Tipo de Dado |
|:-|:---------------|:--------------------------------------|:---------------|:-------------|
|01| IDFR           | Identificador                         | int64          | Identificador|
|02| DT_REF         | Data de Referência                    | datetime64     | Data         |
|03| IN_EVS         | Indicador de Evasão                   | float64        | Binário      |
|04| EST_CVL        | Estado Civil                          | object         | Categórico   |
|05| CLS_GNR        | Classificação de Gênero               | object         | Categórico   |
|06| RGAO_GEO       | Região Geográfica                     | object         | Categórico   |
|07| SGM_CLI        | Segmento do Cliente                   | float64        | Categórico   |
|08| VL_SLR_MSL     | Valor do Salário Mensal               | float64        | Numérico     |
|09| QT_PRD_COM_BB  | Quantidade de Produtos com BB         | float64        | Numérico     |
|10| TMP_RLC_COM_BB | Tempo de relacionamento com BB        | float64        | Numérico     |
|11| CTGR_MC_EPGR   | Categoria de Mercado do Empregador    | object         | Categórico   |
|12| RAMO_MC_EPGR   | Ramo de Mercado do Empregador         | object         | Categórico   |
|13| NM_CTRA        | Nome da Carteira                      | object         | Categórico   |
|14| VL_CST_SVR     | Valor do Custo de Servir              | float64        | Numérico     |
|15| FXA_IDD        | Faixa de Idade                        | object         | Categórico   |
|16| QT_RCLM_CLI    | Quantidade de Reclamações do Cliente  | float64        | Numérico     |
|17| PRI_ATDT_CLI   | Priorização do Atendimento do Cliente | float64        | Binário      |

**Regra 1:** Transforme o Atributo de Data de Referência em Datetime.


Atenção, o arquivo de dados será fornecido junto com esse caderno. Lembre-se de verificar o caminho para a importação dos dados. **Não altere a ordem das colunas obtidas**.
    
Os dados devem manter a estrutura da pasta, ou seja, o arquivo deve estar em uma pasta chamada `bases` na mesma pasta que o caderno do desafio. Por exemplo, se o projeto estiver sendo desenvolvido na pasta `desafio`, o caderno deve estar na pasta `desafio`, e dentro dessa pasta, deve haver outra chamada `bases` contendo o arquivo CSV.

In [4]:
dados = pd.read_csv('./bases/ds_dataset_001.csv', sep=';')
exercicio1 = pd.DataFrame(dados)
exercicio1['DT_REF'] = pd.to_datetime(exercicio1['DT_REF'])
exercicio1

,IDFR,DT_REF,IN_EVS,EST_CVL,CLS_GNR,RGAO_GEO,SGM_CLI,VL_SLR_MSL,QT_PRD_COM_BB,TMP_RLC_COM_BB,CTGR_MC_EPGR,RAMO_MC_EPGR,NM_CTRA,VL_CST_SVR,FXA_IDD,QT_RCLM_CLI,PRI_ATDT_CLI
0,11155,2023-10-01,1.0,SOLTEIRO,M,SUL,3.0,1650.0,4.0,0.0,VAREJO,INDUSTRIA,NEGOCIAL,5.72,30-39,NaN,0.0
1,11288,2023-11-01,0.0,SOLTEIRO,M,SUDESTE,2.0,4690.0,7.0,2.0,VAREJO,SERVICOS,NEGOCIAL,21.83,50-59,NaN,0.0
2,10570,2023-12-01,0.0,SOLTEIRO,F,SUL,4.0,3140.0,5.0,4.0,VAREJO,COMERCIO,NEGOCIAL,58.38,20-29,9.0,1.0
3,6891,2023-10-01,0.0,SOLTEIRO,M,NORTE,3.0,580.0,6.0,3.0,ATACADO,INDUSTRIA,PERSONALIZADO,9.00,20-29,NaN,0.0
4,9486,2023-12-01,1.0,SOLTEIRO,M,SUDESTE,3.0,3110.0,13.0,1.0,VAREJO,INDUSTRIA,PRIVATE,169.57,20-29,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8151,6477,2023-10-01,NaN,NaN,NaN,NaN,NaN,NaN,24.0,22.0,ATACADO,SERVICOS,NEGOCIAL,152.41,NaN,NaN,NaN
8152,10086,2023-11-01,0.0,SOLTEIRO,M,CENTRO-OESTE,1.0,4320.0,9.0,1.0,VAREJO,SERVICOS,ESTILO_A,180.03,20-29,NaN,0.0
8153,8457,2023-10-01,NaN,NaN,NaN,NaN,NaN,NaN,21.0,48.0,ATACADO,SERVICOS,NEGOCIAL,95.78,NaN,NaN,NaN
8154,9246,2023-10-01,0.0,SOLTEIRO,F,NORDESTE,3.0,4060.0,8.0,25.0,ATACADO,SERVICOS,EXCLUSIVO_A,54.03,40-49,NaN,0.0
8155,10210,2023-12-01,0.0,SOLTEIRO,M,CENTRO-OESTE,3.0,3030.0,8.0,2.0,ATACADO,INDUSTRIA,NEGOCIAL,155.03,20-29,NaN,0.0

# Exercício 2 - Qualidade dos dados e identificação de valores nulos
Criar um DataFrame Pandas chamado <b>exercicio2</b> com o percentual de nulos por coluna. Arredonde os valores em <b>três casas decimais</b>. O DataFrame deve conter dois atributos 'Atributo' e 'Percentual_Nulos'. Como o exemplo a seguir:

| Atributo       | Percentual_Nulos |
|----------------|------------------|
| IDFR           | 0.0              |
| DT_REF         | 0.0              |
| IN_EVS         | 0.0              |
| EST_CVL        | 0.122            |
| CLS_GNR        | 0.203            |
| RGAO_GEO       | 0.031            |
| SGM_CLI        | 0.034            |
| VL_SLR_MSL     | 0.0              |
| QT_PRD_COM_BB  | 0.0              |
| TMP_RLC_COM_BB | 0.342            |
| CTGR_MC_EPGR   | 0.0              |
| RAMO_MC_EPGR   | 0.0              |
| NM_CTRA        | 0.0              |
| VL_CST_SVR     | 0.0              |
| FXA_IDD        | 0.0              |
| QT_RCLM_CLI    | 0.0              |
| PRI_ATDT_CLI   | 0.0              |

**Obs.:** Os valores do exemplo são fícticios. <b>Lembrando que os valores não devem ser maiores que 1</b>.

 **Não altere a ordem das colunas obtidas**.

**Regra 1:** Verificar o percentual de nulos por colunas

**Regra 2:** Ao arredondar para o número de casas decimais desejado, utilizar a função `round()`, passando apenas como argumento o DataFrame a ser arredondado e o número de casas decimais.

In [5]:
exercicio2 = exercicio1.copy()
percentual_nulos = (exercicio2.isnull().mean()).round(3)
exercicio2 = pd.DataFrame({
    'Atributo': percentual_nulos.index,
    'Percentual_Nulos': percentual_nulos.values
})
exercicio2

          Atributo  Percentual_Nulos
0             IDFR             0.000
1           DT_REF             0.000
2           IN_EVS             0.204
3          EST_CVL             0.204
4          CLS_GNR             0.204
5         RGAO_GEO             0.204
6          SGM_CLI             0.204
7       VL_SLR_MSL             0.204
8    QT_PRD_COM_BB             0.086
9   TMP_RLC_COM_BB             0.086
10    CTGR_MC_EPGR             0.086
11    RAMO_MC_EPGR             0.086
12         NM_CTRA             0.000
13      VL_CST_SVR             0.086
14         FXA_IDD             0.204
15     QT_RCLM_CLI             0.861
16    PRI_ATDT_CLI             0.204

# Exercício 3- Qualidade dos dados e tratamento de nulos
Criar um DataFrame Pandas chamado <b>exercicio3</b> retirando as observações em que o alvo (ou target), Indicador de evasão, é nula, ou seja, será um filtro do DataFrame do Exercício 1.

**Regra 1:** Remover as linhas em que Indicador de evasão é <b>nulo</b>.

Segue abaixo exemplo do DataFrame com dados fícticios:

|   IDFR | DT_REF              |   IN_EVS | EST_CVL   | CLS_GNR   | RGAO_GEO     |   SGM_CLI |   VL_SLR_MSL |   QT_PRD_COM_BB |   TMP_RLC_COM_BB | CTGR_MC_EPGR   | RAMO_MC_EPGR   | NM_CTRA   |   VL_CST_SVR | FXA_IDD   |   QT_RCLM_CLI |   PRI_ATDT_CLI |
|-------:|:--------------------|---------:|:----------|:----------|:-------------|----------:|-------------:|----------------:|-----------------:|:---------------|:---------------|:----------|-------------:|:----------|--------------:|---------------:|
|      1 | 2023-12-01 00:00:00 |        0 | SOLTEIRO  | M         | SUDESTE      |         3 |         1600 |               2 |               12 | ATACADO        | INDUSTRIA      | NEGOCIAL  |        28.00 | 30-39     |             0 |              0 |
|      2 | 2023-10-01 00:00:00 |        0 | SOLTEIRO  | M         | SUL          |         1 |         2400 |               2 |               10 | ATACADO        | INDUSTRIA      | NEGOCIAL  |        39.00 | 30-39     |             0 |              0 |
|      3 | 2023-11-01 00:00:00 |        0 | SOLTEIRO  | M         | SUDESTE      |         3 |         3200 |              10 |               12 | VAREJO         | SERVICOS       | NEGOCIAL  |        81.00 | 30-39     |             0 |              0 |
|      5 | 2023-11-01 00:00:00 |        1 | SOLTEIRO  | F         | SUL          |         4 |         5000 |               2 |                2 | ATACADO        | INDUSTRIA      | NEGOCIAL  |       100.00 | 30-39     |             0 |              0 |
|      6 | 2023-10-01 00:00:00 |        0 | SOLTEIRO  | M         | CENTRO-OESTE |         2 |         5100 |              10 |                8 | ATACADO        | INDUSTRIA      | NEGOCIAL  |       100.00 | 30-39     |             0 |              0 |

In [6]:
exercicio3 = exercicio1.copy()
exercicio3 = exercicio3.dropna(subset=['IN_EVS'])
exercicio3

,IDFR,DT_REF,IN_EVS,EST_CVL,CLS_GNR,RGAO_GEO,SGM_CLI,VL_SLR_MSL,QT_PRD_COM_BB,TMP_RLC_COM_BB,CTGR_MC_EPGR,RAMO_MC_EPGR,NM_CTRA,VL_CST_SVR,FXA_IDD,QT_RCLM_CLI,PRI_ATDT_CLI
0,11155,2023-10-01,1.0,SOLTEIRO,M,SUL,3.0,1650.0,4.0,0.0,VAREJO,INDUSTRIA,NEGOCIAL,5.72,30-39,NaN,0.0
1,11288,2023-11-01,0.0,SOLTEIRO,M,SUDESTE,2.0,4690.0,7.0,2.0,VAREJO,SERVICOS,NEGOCIAL,21.83,50-59,NaN,0.0
2,10570,2023-12-01,0.0,SOLTEIRO,F,SUL,4.0,3140.0,5.0,4.0,VAREJO,COMERCIO,NEGOCIAL,58.38,20-29,9.0,1.0
3,6891,2023-10-01,0.0,SOLTEIRO,M,NORTE,3.0,580.0,6.0,3.0,ATACADO,INDUSTRIA,PERSONALIZADO,9.00,20-29,NaN,0.0
4,9486,2023-12-01,1.0,SOLTEIRO,M,SUDESTE,3.0,3110.0,13.0,1.0,VAREJO,INDUSTRIA,PRIVATE,169.57,20-29,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8149,11038,2023-12-01,0.0,SOLTEIRO,M,CENTRO-OESTE,4.0,3280.0,10.0,7.0,ATACADO,INDUSTRIA,NEGOCIAL,86.70,30-39,NaN,0.0
8150,2925,2023-10-01,0.0,CASADO,F,NORDESTE,2.0,9940.0,19.0,14.0,VAREJO,SERVICOS,NEGOCIAL,68.18,30-39,NaN,0.0
8152,10086,2023-11-01,0.0,SOLTEIRO,M,CENTRO-OESTE,1.0,4320.0,9.0,1.0,VAREJO,SERVICOS,ESTILO_A,180.03,20-29,NaN,0.0
8154,9246,2023-10-01,0.0,SOLTEIRO,F,NORDESTE,3.0,4060.0,8.0,25.0,ATACADO,SERVICOS,EXCLUSIVO_A,54.03,40-49,NaN,0.0
8155,10210,2023-12-01,0.0,SOLTEIRO,M,CENTRO-OESTE,3.0,3030.0,8.0,2.0,ATACADO,INDUSTRIA,NEGOCIAL,155.03,20-29,NaN,0.0

# Exercício 4 - Obtenção das informações de estatística descritiva

A partir do DataFrame criado no <b>exercicio3</b>, crie um DataFrame Pandas chamado <b>exercicio4</b> com as informações de Estatística Descritiva das <b>Variáveis Quantitativas Contínuas</b>. Arredonde os valores em <b>duas casas decimais.</b>

As Estatísticas Descritivas serão o Contador, Média, Desvio Padrão, Mínimo, 1º Quartil, Mediana, 3º Quartil e Máximo.

O DataFrame deve ter os atributos com os nomes da colunas e seu índice (index) deve ser 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'. Segue um exemplo do DataFrame:

|       |   VL_SLR_MSL |   QT_PRD_COM_BB |   TMP_RLC_COM_BB |   VL_CST_SVR |   QT_RCLM_CLI |
|:------|-------------:|----------------:|-----------------:|-------------:|--------------:|
| count |      ?       |      ?          |       ?          |    ?         |    ?          |
| mean  |      ?       |      ?          |       ?          |    ?         |    ?          |
| std   |      ?       |      ?          |       ?          |    ?         |    ?          |
| min   |      ?       |      ?          |       ?          |    ?         |    ?          |
| 25%   |      ?       |      ?          |       ?          |    ?         |    ?          |
| 50%   |      ?       |      ?          |       ?          |    ?         |    ?          |
| 75%   |      ?       |      ?          |       ?          |    ?         |    ?          |
| max   |      ?       |      ?          |       ?          |    ?         |    ?          |

**Regra 1:** Ao arredondar para o número de casas decimais desejado, utilizar a função `round()`, passando apenas como argumento o DataFrame a ser arredondado e o número de casas decimais.

In [7]:
exercicio4 = exercicio3.copy()
estatisticas_descritivas = exercicio4.describe()
exercicio4 = estatisticas_descritivas.round(2)
campos = ['VL_SLR_MSL', 'QT_PRD_COM_BB', 'TMP_RLC_COM_BB', 'VL_CST_SVR', 'QT_RCLM_CLI']
exercicio4 = exercicio4[campos]
exercicio4

       VL_SLR_MSL  QT_PRD_COM_BB  TMP_RLC_COM_BB  VL_CST_SVR  QT_RCLM_CLI
count     6496.00        6496.00         6496.00     6496.00      1134.00
mean      3451.62           7.67           10.25       63.03         2.21
min          0.00           0.00            0.00        0.00         0.00
25%       1800.00           4.00            1.00       14.59         0.00
50%       2770.00           6.00            9.00       33.02         0.00
75%       4650.00           9.00           16.00       91.60         1.00
max      10000.00          67.00           73.00      299.78        55.00
std       2241.16           5.61           10.45       67.82         6.11

# Exercício 5 - Agrupamentos dos dados

A partir do DataFrame criado no <b>exercicio3</b>, crie um DataFrame Pandas chamado <b>exercicio5</b> com a frequência absoluta da coluna alvo, Indicador de evasão.

O DataFrame deve conter uma coluna com nome de Indicador de evasão e índice (index) '0' e '1'. Segue abaixo um exemplo:

|    |   IN_EVS |
|---:|---------:|
|  0 |     ?    |
|  1 |     ?    |

In [24]:
exercicio5 = exercicio3.copy()
frequencia_absoluta = exercicio3['IN_EVS'].value_counts()
exercicio5 = pd.DataFrame({
    'IN_EVS': frequencia_absoluta.values
}, index=frequencia_absoluta.index)
exercicio5

        IN_EVS
IN_EVS
0.0       4686
1.0       1810

# Exercício 6 - Obtendo dados de correlação

A partir do <b>exercicio3</b>, crie um DataFrame chamado <b>exercicio6</b> com as correlações de pearson da <b>variáveis quantitativas contínuas</b>. Arredonde os valores em <b>duas casas decimais.</b>

O DataFrame deve ter as colunas:
- Valor do Salário Mensal
- Quantidade de Produtos com o BB
- Tempo de Relacionamento com o BB
- Valor do Custo de Servir
- Quantidade de Reclamações do Cliente

O índice (index) deve conter os mesmos nomes dos atributos mencionados acima. Segue abaixo um exemplo:

|                |   VL_SLR_MSL |   QT_PRD_COM_BB |   TMP_RLC_COM_BB |   VL_CST_SVR |   QT_RCLM_CLI |
|:---------------|-------------:|----------------:|-----------------:|-------------:|--------------:|
| VL_SLR_MSL     |   ?          |  ?              |    ?             |   ?          |   ?           |
| QT_PRD_COM_BB  |   ?          |  ?              |    ?             |   ?          |   ?           |
| TMP_RLC_COM_BB |   ?          |  ?              |    ?             |   ?          |   ?           |
| VL_CST_SVR     |   ?          |  ?              |    ?             |   ?          |   ?           |
| QT_RCLM_CLI    |   ?          |  ?              |    ?             |   ?          |   ?           |

In [9]:
variaveis_quantitativas = exercicio3[['VL_SLR_MSL', 'QT_PRD_COM_BB', 'TMP_RLC_COM_BB', 'VL_CST_SVR', 'QT_RCLM_CLI']]
correlacoes = variaveis_quantitativas.corr(method='pearson')
exercicio6 = correlacoes.round(2)
exercicio6

,VL_SLR_MSL,QT_PRD_COM_BB,TMP_RLC_COM_BB,VL_CST_SVR,QT_RCLM_CLI
VL_SLR_MSL,1.00,0.35,0.38,0.34,-0.00
QT_PRD_COM_BB,0.35,1.00,0.55,0.54,-0.04
TMP_RLC_COM_BB,0.38,0.55,1.00,0.41,0.02
VL_CST_SVR,0.34,0.54,0.41,1.00,-0.01
QT_RCLM_CLI,-0.00,-0.04,0.02,-0.01,1.00

# Exercício 7 - Criação de novas variáveis

Crie um DataFrame Pandas chamado <b>exercicio7</b> com duas novas variáveis. Para criar o DataFrame utilize o <b>exercicio3</b> como base.

Segue abaixo a descrição de cada variável:

| Atributo | Descrição | Regra de apuração |
|:---------|:----------|:------------------|
|CD_IN_RCLM_CLI|Código Indicador de Reclamações do Cliente|Se a quantidade de Reclamações do Cliente for < 1 ou ausente, o valor será 0. Caso contrário, o valor será 1.|
|CD_IN_SLR_MIN|Código Indicador de Salário Mínimo|Se o Valor do Salário Mensal for menor que R$ 1.412,00 (Valor do salário mínimo referente ao ano de 2024), o valor será 1. Caso contrário, o valor será 0.|



Segue abaixo como seria o DataFrame com dados fícticios:

|   IDFR | DT_REF              |   IN_EVS | EST_CVL   | CLS_GNR   | RGAO_GEO     |   SGM_CLI |   VL_SLR_MSL |   QT_PRD_COM_BB |   TMP_RLC_COM_BB | CTGR_MC_EPGR   | RAMO_MC_EPGR   | NM_CTRA   |   VL_CST_SVR | FXA_IDD   |   QT_RCLM_CLI |   PRI_ATDT_CLI |   CD_IN_RCLM_CLI |   CD_IN_SLR_MIN |
|-------:|:--------------------|---------:|:----------|:----------|:-------------|----------:|-------------:|----------------:|-----------------:|:---------------|:---------------|:----------|-------------:|:----------|--------------:|---------------:|-----------------:|----------------:|
|      1 | 2023-12-01 00:00:00 |        0 | SOLTEIRO  | M         | SUDESTE      |         3 |         1500 |               2 |               12 | ATACADO        | INDUSTRIA      | NEGOCIAL  |        28.00 | 30-39     |             0 |              0 |                0 |               0 |
|      2 | 2023-10-01 00:00:00 |        0 | SOLTEIRO  | M         | SUL          |         1 |         2400 |               2 |               10 | ATACADO        | INDUSTRIA      | NEGOCIAL  |        39.00 | 30-39     |             0 |              0 |                0 |               0 |
|      3 | 2023-11-01 00:00:00 |        0 | SOLTEIRO  | M         | SUDESTE      |         3 |         3200 |              10 |               12 | VAREJO         | SERVICOS       | NEGOCIAL  |        81.00 | 30-39     |             0 |              0 |                0 |               0 |
|      5 | 2023-11-01 00:00:00 |        1 | SOLTEIRO  | F         | SUL          |         4 |         500 |               2 |                2 | ATACADO        | INDUSTRIA      | NEGOCIAL  |       100.00 | 30-39     |             0 |              0 |                0 |               1 |
|      6 | 2023-10-01 00:00:00 |        0 | SOLTEIRO  | M         | CENTRO-OESTE |         2 |         1000 |              10 |                8 | ATACADO        | INDUSTRIA      | NEGOCIAL  |       100.00 | 30-39     |             0 |              0 |                0 |               1 |

In [10]:
exercicio7 = exercicio3.copy()
exercicio7['CD_IN_RCLM_CLI'] = exercicio7['QT_RCLM_CLI'].apply(lambda x: 0 if pd.isnull(x) or x < 1 else 1)
exercicio7['CD_IN_SLR_MIN'] = exercicio7['VL_SLR_MSL'].apply(lambda x: 1 if x < 1412 else 0)
exercicio7

,IDFR,DT_REF,IN_EVS,EST_CVL,CLS_GNR,RGAO_GEO,SGM_CLI,VL_SLR_MSL,QT_PRD_COM_BB,TMP_RLC_COM_BB,CTGR_MC_EPGR,RAMO_MC_EPGR,NM_CTRA,VL_CST_SVR,FXA_IDD,QT_RCLM_CLI,PRI_ATDT_CLI,CD_IN_RCLM_CLI,CD_IN_SLR_MIN
0,11155,2023-10-01,1.0,SOLTEIRO,M,SUL,3.0,1650.0,4.0,0.0,VAREJO,INDUSTRIA,NEGOCIAL,5.72,30-39,NaN,0.0,0,0
1,11288,2023-11-01,0.0,SOLTEIRO,M,SUDESTE,2.0,4690.0,7.0,2.0,VAREJO,SERVICOS,NEGOCIAL,21.83,50-59,NaN,0.0,0,0
2,10570,2023-12-01,0.0,SOLTEIRO,F,SUL,4.0,3140.0,5.0,4.0,VAREJO,COMERCIO,NEGOCIAL,58.38,20-29,9.0,1.0,1,0
3,6891,2023-10-01,0.0,SOLTEIRO,M,NORTE,3.0,580.0,6.0,3.0,ATACADO,INDUSTRIA,PERSONALIZADO,9.00,20-29,NaN,0.0,0,1
4,9486,2023-12-01,1.0,SOLTEIRO,M,SUDESTE,3.0,3110.0,13.0,1.0,VAREJO,INDUSTRIA,PRIVATE,169.57,20-29,NaN,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8149,11038,2023-12-01,0.0,SOLTEIRO,M,CENTRO-OESTE,4.0,3280.0,10.0,7.0,ATACADO,INDUSTRIA,NEGOCIAL,86.70,30-39,NaN,0.0,0,0
8150,2925,2023-10-01,0.0,CASADO,F,NORDESTE,2.0,9940.0,19.0,14.0,VAREJO,SERVICOS,NEGOCIAL,68.18,30-39,NaN,0.0,0,0
8152,10086,2023-11-01,0.0,SOLTEIRO,M,CENTRO-OESTE,1.0,4320.0,9.0,1.0,VAREJO,SERVICOS,ESTILO_A,180.03,20-29,NaN,0.0,0,0
8154,9246,2023-10-01,0.0,SOLTEIRO,F,NORDESTE,3.0,4060.0,8.0,25.0,ATACADO,SERVICOS,EXCLUSIVO_A,54.03,40-49,NaN,0.0,0,0
8155,10210,2023-12-01,0.0,SOLTEIRO,M,CENTRO-OESTE,3.0,3030.0,8.0,2.0,ATACADO,INDUSTRIA,NEGOCIAL,155.03,20-29,NaN,0.0,0,0

# Exercício 8 - Transformação das variáveis contínuas


Em certos cenários, os cientistas de dados precisam realizar transformações para obter novos insights que auxiliem na previsão da variável-alvo. Portanto, este exercício propõe que você aplique essas transformações matemáticas na prática. Uma dica importante é verificar a distribuição da variável por meio de um histograma antes e depois das transformações, para tirar conclusões relevantes. Arredonde os valores em três casas decimais.

Crie um DataFrame Pandas chamado <b>exercicio8</b> aplicando transformações matemáticas nas variáveis contínuas. Para criar o DataFrame utilize o <b>exercicio7</b> como base.

Segue abaixo o detalhamento de cada variável:

|Atributo|Descrição|Regra|
|:-------|:--------|:----|
|VL_SLR_MSL_SQRT| Valor da Raiz Quadrada do Salário Mensal | Raiz Quadrada do Valor do Salário Mensal|
|VL_CST_SVR_LOG| Valor do Custo de Servir Logarítmo | Logaritmo do Valor do Custo de Servir acrescido de 1|
|QT_PRD_COM_BB_LOG| Quantidade de Produtos com o BB Logarítmo | Logaritmo da Quantidade de Produtos com o BB acrescido de 1|


<b>Atenção:</b> Não existe $Log(0)$, portanto atente para a regra das colunas de Logarítmo.

In [26]:
exercicio8 = exercicio7.copy()
exercicio8['VL_SLR_MSL_SQRT'] = np.round(np.sqrt(exercicio8['VL_SLR_MSL']), 3)
exercicio8['VL_CST_SVR_LOG'] = np.round(np.log(exercicio8['VL_CST_SVR'] + 1), 3)
exercicio8['QT_PRD_COM_BB_LOG'] = np.round(np.log(exercicio8['QT_PRD_COM_BB'] + 1), 3)
colunas = ['VL_SLR_MSL_SQRT', 'VL_CST_SVR_LOG', 'QT_PRD_COM_BB_LOG']
exercicio8 = exercicio8[colunas]
exercicio8

      VL_SLR_MSL_SQRT  VL_CST_SVR_LOG  QT_PRD_COM_BB_LOG
0              40.620           1.905              1.609
1              68.484           3.128              2.079
2              56.036           4.084              1.792
3              24.083           2.303              1.946
4              55.767           5.139              2.639
...               ...             ...                ...
8149           57.271           4.474              2.398
8150           99.700           4.237              2.996
8152           65.727           5.199              2.303
8154           63.718           4.008              2.197
8155           55.045           5.050              2.197

[6496 rows x 3 columns]

# Exercício 9 - Padronização de variável

Crie um DataFrame Pandas chamado <b>exercicio9</b> com suas <b>variáveis quantitativas contínuas </b> padronizadas pelo método Máximo-Mínimo (Max-Min). No exercício, não é necessário padronizar a variável ‘QT_RCLM_CLI’, pois, para o caso em questão, a variável binária ‘CD_IN_RCLM_CLI’ tem maior relevância do ponto de vista negocial.

<b>Importante:</b> Para esse exercício, deve utilizar o DataFrame do **Exercício 8**. Arredonde os valores em três casas decimais.

Segue abaixo a fórmula da Padronização pelo Método Max-Min:

$$X_{max\_min} = \frac{X - \min(X)}{\max(X) - \min(X)}$$


Segue abaixo como seria o DataFrame com dados fícticios:

|   IDFR | DT_REF              |   IN_EVS | EST_CVL   | CLS_GNR   | RGAO_GEO     |   SGM_CLI |   VL_SLR_MSL |   QT_PRD_COM_BB |   TMP_RLC_COM_BB | CTGR_MC_EPGR   | RAMO_MC_EPGR   | NM_CTRA   |   VL_CST_SVR | FXA_IDD   |   QT_RCLM_CLI |   PRI_ATDT_CLI |   CD_IN_RCLM_CLI |   CD_IN_SLR_MIN |
|-------:|:--------------------|---------:|:----------|:----------|:-------------|----------:|-------------:|----------------:|-----------------:|:---------------|:---------------|:----------|-------------:|:----------|--------------:|---------------:|-----------------:|----------------:|
|      1 | 2023-12-01 00:00:00 |        0 | SOLTEIRO  | M         | SUDESTE      |         3 |          0.1 |             0.1 |             0.12 | ATACADO        | INDUSTRIA      | NEGOCIAL  |         0.28 | 30-39     |             0 |              0 |                0 |               0 |
|      2 | 2023-10-01 00:00:00 |        0 | SOLTEIRO  | M         | SUL          |         1 |          0.2 |             0.2 |             0.10 | ATACADO        | INDUSTRIA      | NEGOCIAL  |         0.39 | 30-39     |             0 |              0 |                0 |               0 |
|      3 | 2023-11-01 00:00:00 |        0 | SOLTEIRO  | M         | SUDESTE      |         3 |          0.3 |             0.3 |             0.12 | VAREJO         | SERVICOS       | NEGOCIAL  |         0.81 | 30-39     |             0 |              0 |                0 |               0 |
|      5 | 2023-11-01 00:00:00 |        1 | SOLTEIRO  | F         | SUL          |         4 |          0.4 |             0.4 |             0.02 | ATACADO        | INDUSTRIA      | NEGOCIAL  |         0.72 | 30-39     |             0 |              0 |                0 |               0 |
|      6 | 2023-10-01 00:00:00 |        0 | SOLTEIRO  | M         | CENTRO-OESTE |         2 |          0.5 |             0.5 |             0.08 | ATACADO        | INDUSTRIA      | NEGOCIAL  |         0.80 | 30-39     |             0 |              0 |                0 |               1 |

In [15]:
exercicio9 = exercicio8['Atributo']
exercicio9

0      VL_SLR_MSL_SQRT
1       VL_CST_SVR_LOG
2    QT_PRD_COM_BB_LOG
Name: Atributo, dtype: object

# Exercício 10 a) - Criar Dummies ou One Hot Encoding

## 1ª Parte

Crie o DataFrame **exercicio10a** a partir do DataFrame **exercicio9** ou **exercicio8** transformando todas as variáveis categóricas para o formato <b>uint8</b>. 

<b>Importante:</b> Lembrando que as variáveis categóricas são: 

- Estado Civil
- Classificação de Gênero
- Região Geográfica
- Segmento do Cliente
- Categoria de Mercado do Empregador
- Ramo de Mercado do Empregador
- Nome da Carteira
- Faixa de Idade


**Regra 1:** todas as colunas devem conter valores binários (0 ou 1)

**Regra 2:** Utilizar técnicas de criação de variáveis fictícias (dummies).

**Regra 3:** Os nomes das variáveis criadas pela aplicação das técnicas acima devem obrigatoriamente iniciar com o nome original da coluna.

Exemplo:
- coluna original:

|NM_COL|
|---|
|CAT1|
|CAT2|
|CAT1|
|CAT3|
|...|
- colunas categórias:

|NM_COL_CAT1|NM_COL_CAT2|NM_COL_CAT3|
|---|---|---|
|1|0|0|
|0|1|0|
|1|0|0|
|0|0|1|
|...|...|...|

**Regra 4:** Desprezar as variáveis que contenham apenas um valor único, ou seja, que tenha apenas valores 0 ou apenas valores 1.

# Exercício 10 b) - Separação das variáveis alvo e preditoras

## 2ª Parte

A partir do **exercicio10a**, crie os DataFrames **exercicio10b** e **exercicio10c** contendo:

 - **exercicio10b** = demais variáveis (Exceto DT_REF e IDFR)
 - **exercicio10c** = variável alvo (target) no nosso modelo

----
## Descomplicando
**Variável Alvo** (ou Variável Target) é a variável de interesse do nosso modelo, em geral a variável que busca-se prever.

# Exercício 11 - Separação de conjunto de dados - Treino/Teste

A partir das variáveis **exercicio10b** e **exercicio10bc**, crie os DataFrames **exercicio11a**, **exercicio11b**, **exercicio11c** e **exercicio11d** aplicando a técnica de divisão dos DataFrames do exercício anterior para treino e teste (Train/Test Split) considerando as seguintes regras:

 - **exercicio11a** : Dados de treino para as variáveis preditoras (X)
 - **exercicio11b** : Dados de teste para as variáveis preditoras (X)
 - **exercicio11c** : Dados de treino para a variável alvo (y)
 - **exercicio11d** : Dados de teste para as variável alvo (y)

1) separar **30%** dos registros para teste

2) Travar a semente (seed) em <b>42</b>

3) Passar o parâmetro embaralhar (shuffle) como `True`

4) Utilize no máximo **21 variáveis** para criar o modelo, ou seja, a entrada do modelo poderá conter no máximo 21 atributos. Exemplo:


|   VL_SLR_MSL |   QT_PRD_COM_BB |   TMP_RLC_COM_BB |   VL_CST_SVR |   PRI_ATDT_CLI |   CD_IN_RCLM_CLI |   CD_IN_SLR_MIN |   VL_CST_SVR_LOG |   QT_PRD_COM_BB_LOG |   VL_SLR_MSL_SQRT |   CLS_GNR_M |   RGAO_GEO_CENTRO-OESTE |   RGAO_GEO_NORDESTE |   RGAO_GEO_NORTE |   RGAO_GEO_SUDESTE |   RGAO_GEO_SUL |
|-------------:|----------------:|-----------------:|-------------:|---------------:|-----------------:|----------------:|-----------------:|--------------------:|------------------:|------------:|------------------------:|--------------------:|-----------------:|-------------------:|---------------:|
|         4100 |               7 |        0.746971  |        28.85 |              0 |                0 |               1 |        -0.189521 |            0.140901 |          0.469209 |           1 |                       0 |                   0 |                0 |                  1 |              0 |
|         7510 |               6 |       -0.0240181 |        39.87 |              0 |                0 |               1 |         0.100732 |           -0.120562 |          1.70155  |           1 |                       0 |                   0 |                0 |                  0 |              1 |
|         4450 |              13 |        0.0723555 |        81.87 |              0 |                0 |               1 |         0.753708 |            1.23667  |          0.614998 |           1 |                       0 |                   0 |                0 |                  1 |              0 |
|         1200 |               4 |       -0.987754  |        19.88 |              0 |                0 |               0 |        -0.519662 |           -0.779396 |         -1.13133  |           0 |                       0 |                   0 |                0 |                  0 |              1 |
|         5100 |              14 |       -0.216765  |       104.96 |              0 |                0 |               1 |         0.980755 |            1.37176  |          0.871277 |           1 |                       1 |                   0 |                0 |                  0 |              0 |


Atenção, as variáveis criadas devem ser do tipo DataFrame.

# Exercício 12 - Criação de modelo de aprendizado de máquina

## Parte 1

Crie as variáveis abaixo relacionadas aplicando os modelos preditivos conforme orientações detalhadas abaixo:

|Nome da Variável|Modelo|Tipo|
|---|---|---|
|**exercicio12e**|Regressão Logística|sklearn.linear_model._logistic.LogisticRegression|
|**exercicio12f**|Árvore de Decisão|sklearn.tree.DecisionTreeClassifier|
|**exercicio12g**|Support Vector Machine|sklearn.svm._classes.SVC|

## Parte 2

Criar as variáveis **exercicio12a**, **exercicio12b**, **exercicio12c** e **exercicio12d** para responder às perguntas:

**exercicio12a)** Qual o F1-score do modelo Regressão Logística?

**exercicio12b)** Qual o F1-score do modelo Árvore de Decisão?

**exercicio12c)** Qual o F1-score do modelo Support Vector Machine?

**exercicio12d)** Qual o modelo com maior F1-score?

As variáveis com as respostas **exercicio12a**, **exercicio12b** e **exercicio12c**, deverão conter o F1-score com três casas decimais no formato X.XXX

    Exemplo:
        comando: print(exercicio12e)
        resultado: 0.789
        
A resposta **exercicio12d** deverá conter a variável do **modelo com melhor métrica F1-score**. 

**Regra:** O valor do F1-score deve estar entre 0,50 e 0,70.

# Exercício 13 - Obtenção das métricas do modelo construído

Faça a **Matriz de Confusão** (confusion_matrix) do seu modelo de melhor F1-score, conforme resposta do Exercício 12, em seguida crie as variáveis **exercicio13a**, **exercicio13b**, **exercicio13c** para responder às perguntas:



**exercicio13a)** Quantos foram os casos de falso positivo do seu modelo, ou seja, os casos em que o modelo previu que a pessoa sairia (churn), mas ela não saiu? A variável deve ser do tipo `int` ou `float`. 



**exercicio13b)** Quantos foram os casos de falso negativo? A variável deve ser do tipo `int` ou `float`.



**exercicio13c)** Considerando o cenário proposto, onde o gestor esteja buscando, principalmente, **reter os clientes**. Na sua análise, qual dos dois erros acima é o mais crítico para esse contexto do nosso problema de negócio?



    a) falso positivo
    b) falso negativo
    c) os dois erros são igualmente críticos
    d) nenhum dos dois, é indiferente



As variáveis com as respostas **exercicio13a** e **exercicio13b** deverão conter a quantidade em formato inteiro.



    Exemplo:
        comando: print(exercicio13a)
        resultado: 125



A variável **exercicio13c** deverá conter a letra correspondente à resposta que você entende ser a mais correta.

# Exercício 14 - Balanceamento dos dados com SMOTE

Faça o oversampling dos dados produzidos no exercício 11 utilizando a técnica SMOTE, porém, de forma a não enviesar os dados de teste.

O objeto SMOTE deve ser criado numa variável chamada **smt**.

Use **random_state=42** no SMOTE

O resultado do balanceamento dos dados de treinamento deve ser salvo nas variáveis **exercicio14a** e **exercicio14b**.

 - **exercicio14a** : Dados de treino para as variáveis preditoras (X)
 - **exercicio14b** : Dados de treino para a variável alvo (y)

Crie as variáveis **exercicio14c**, **exercicio14d**, **exercicio14e** e **exercicio14f**:

- Guarde as quantidades de amostras das classe 0 e classe 1 **ANTES** a utilização do SMOTE nas variáveis **exercicio14c** e **exercicio14d**.
- Guarde as quantidades de amostras das classe 0 e classe 1 **APÓS** a utilização do SMOTE nas variáveis **exercicio14e** e **exercicio14f**.

Abaixo temos um exemplo fictício de como ficaria o print da quantidade de amostras por classe <B>ANTES</B> da aplicação do SMOTE. Na sequência os prints dos valores do exemplo nas variáveis **exercicio14c** e **exercicio14d**.

<pre>
0.0    4533
1.0    1767
Name: IN_EVS, dtype: int64
</pre>

<pre>
print(exercicio14c)
OUTPUT: 4533

print(exercicio14d)
OUTPUT: 1767
</pre>

Abaixo temos um exemplo fictício de como ficaria o print da quantidade de amostras por classe <B>APÓS</B> a aplicação do SMOTE. Na sequência os prints dos valores do exemplo nas variáveis **exercicio14e** e **exercicio14f**.
<pre>
0.0    4533
1.0    4533
Name: IN_EVS, dtype: int64
</pre>

<pre>
print(exercicio14e)
OUTPUT: 4533

print(exercicio14f)
OUTPUT: 4533
</pre>

----
## Descomplicando

Para tirar suas dúvidas, acesse a documentação do SMOTE no link abaixo.

https://imbalanced-learn.org/stable/references/generated/imblearn.over_sampling.SMOTE.html

# Exercício 15 - Balanceamento dos dados com SMOTE e comparação dos resultados

## Parte 1

Refaça o exercício 12 alterando o nome das variáveis conforme explicado abaixo utilizando os dados balanceados pelo SMOTE. Se atente a usar o mesmo conjunto de teste nos exercícios 12 e 15, para comparar os resultados do treinamento com e sem SMOTE.

Atribua o valor do F1-score deste exercício do modelo Regressão Logística para a variável **exercicio15a**

Atribua o valor do F1-score deste exercício do modelo Árvore de Decisão para a variável **exercicio15b**

Atribua o valor do F1-score deste exercício do modelo Support Vector Machine para a variável **exercicio15c**

Atribua o valor do modelo com maior F1-score deste exercício para a variável **exercicio15d**

Crie as variáveis abaixo aplicando os modelos preditivos conforme orientações detalhadas:

|Nome da Variável|Modelo|Tipo|
|---|---|---|
|**logreg**|Regressão Logística|sklearn.linear_model._logistic.LogisticRegression|
|**clf**|Árvore de Decisão|sklearn.tree.DecisionTreeClassifier|
|**svc**|Support Vector Machine|sklearn.svm._classes.SVC|


## Parte 2

Faça a **Matriz de Confusão** (confusion_matriz) do seu modelo de melhor F1-score com os dados balanceados pelo SMOTE, conforme resposta do Exercício 14, em seguida crie as variáveis **exercicio15e**, **exercicio15f** e para responder às perguntas:



**exercicio15e)** Quantos foram os casos de falso positivo do seu modelo, ou seja, os casos em que o modelo previu que a pessoa sairia (churn), mas ela não saiu?



**exercicio15f)** Quantos foram os casos de falso negativo?

# Boletim de soluções

In [ ]:
# importar bibliotecas para geração dos artefatos
import pickle

In [ ]:
# Favor não alterar esta célula
# verificar a existência das variáveis e gerar artefatos para verificação
if 'exercicio1' in globals():
    print('DataFrame exercicio1 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio1.pkl','wb') as f:
        pickle.dump(exercicio1, f)
else:
    print('O exercício 1 não tem condições de ser avaliado.')

if 'exercicio2' in globals():
    print('DataFrame exercicio2 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio2.pkl','wb') as f:
        pickle.dump(exercicio2, f)
else:
    print('O exercício 2 não tem condições de ser avaliado.')

if 'exercicio3' in globals():
    print('DataFrame exercicio3 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio3.pkl','wb') as f:
        pickle.dump(exercicio3, f)
else:
    print('O exercício 3 não tem condições de ser avaliado.')

if 'exercicio4' in globals():
    print('DataFrame exercicio4 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio4.pkl','wb') as f:
        pickle.dump(exercicio4, f)
else:
    print('O exercício 4 não tem condições de ser avaliado.')

if 'exercicio5' in globals():
    print('DataFrame exercicio5 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio5.pkl','wb') as f:
        pickle.dump(exercicio5, f)
else:
    print('O exercício 5 não tem condições de ser avaliado.')

if 'exercicio6' in globals():
    print('DataFrame exercicio6 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio6.pkl','wb') as f:
        pickle.dump(exercicio6, f)
else:
    print('O exercício 6 não tem condições de ser avaliado.')

if 'exercicio7' in globals():
    print('DataFrame exercicio7 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio7.pkl','wb') as f:
        pickle.dump(exercicio7, f)
else:
    print('O exercício 7 não tem condições de ser avaliado.')

if 'exercicio8' in globals():
    print('DataFrame exercicio8 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio8.pkl','wb') as f:
        pickle.dump(exercicio8, f)
else:
    print('O exercício 8 não tem condições de ser avaliado.')

if 'exercicio9' in globals():
    print('DataFrame exercicio9 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio9.pkl','wb') as f:
        pickle.dump(exercicio9, f)
else:
    print('O exercício 9 não tem condições de ser avaliado.')

if 'exercicio10a' in globals():
    print('DataFrame exercicio10a localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio10a.pkl','wb') as f:
        pickle.dump(exercicio10a, f)
else:
    print('O exercício 10a não tem condições de ser avaliado.')

if 'exercicio10b' in globals():
    print('DataFrame exercicio10b localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio10b.pkl','wb') as f:
        pickle.dump(exercicio10b, f)
else:
    print('O exercício 10b não tem condições de ser avaliado.')

if 'exercicio10c' in globals():
    print('DataFrame exercicio10c localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio10c.pkl','wb') as f:
        pickle.dump(exercicio10c, f)
else:
    print('O exercício 10c não tem condições de ser avaliado.')

if 'exercicio11a' in globals():
    print('DataFrame exercicio11a localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio11a.pkl','wb') as f:
        pickle.dump(exercicio11a, f)
else:
    print('O exercicio11a não tem condições de ser avaliado.')

if 'exercicio11b' in globals():
    print('DataFrame exercicio11b localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio11b.pkl','wb') as f:
        pickle.dump(exercicio11b, f)
else:
    print('O exercicio11b não tem condições de ser avaliado.')

if 'exercicio11c' in globals():
    print('DataFrame exercicio11c localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio11c.pkl','wb') as f:
        pickle.dump(exercicio11c, f)
else:
    print('O exercicio11c não tem condições de ser avaliado.')

if 'exercicio11d' in globals():
    print('DataFrame exercicio11d localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio11d.pkl','wb') as f:
        pickle.dump(exercicio11d, f)
else:
    print('O exercicio11d não tem condições de ser avaliado.')


if 'exercicio12a' in globals():
    print('Variável exercicio12a localizada. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio12a.pkl','wb') as f:
        pickle.dump(exercicio12a, f)
else:
    print('O exercicio12a não tem condições de ser avaliado.')

if 'exercicio12b' in globals():
    print('Variável exercicio12b localizada. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio12b.pkl','wb') as f:
        pickle.dump(exercicio12b, f)
else:
    print('O exercicio12b não tem condições de ser avaliado.')

if 'exercicio12c' in globals():
    print('Variável exercicio12c localizada. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio12c.pkl','wb') as f:
        pickle.dump(exercicio12c, f)
else:
    print('O exercicio12c não tem condições de ser avaliado.')

if 'exercicio12d' in globals():
    print('Variável exercicio12d localizada. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio12d.pkl','wb') as f:
        pickle.dump(exercicio12d, f)
else:
    print('O exercicio12d não tem condições de ser avaliado.')

if 'exercicio12e' in globals():
    print('Variável exercicio12e localizada. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio12e.pkl','wb') as f:
        pickle.dump(exercicio12e, f)
else:
    print('O exercicio12e não tem condições de ser avaliado.')

if 'exercicio12f' in globals():
    print('exercicio12f localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio12f.pkl','wb') as f:
        pickle.dump(exercicio12f, f)
else:
    print('O exercicio12f não tem condições de ser avaliado.')

if 'exercicio12g' in globals():
    print('exercicio12g localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio12g.pkl','wb') as f:
        pickle.dump(exercicio12g, f)
else:
    print('exercicio12g não tem condições de ser avaliado.')


if 'exercicio13a' in globals():
    print('exercicio13a localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio13a.pkl','wb') as f:
        pickle.dump(exercicio13a, f)
else:
    print('O exercicio13a não tem condições de ser avaliado.')

if 'exercicio13b' in globals():
    print('exercicio13b localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio13b.pkl','wb') as f:
        pickle.dump(exercicio13b, f)
else:
    print('O exercicio13b não tem condições de ser avaliado.')

if 'exercicio13c' in globals():
    print('exercicio13c localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio13c.pkl','wb') as f:
        pickle.dump(exercicio13c, f)
else:
    print('O exercicio13c não tem condições de ser avaliado.')

if 'smt' in globals():
    print('Objeto smt localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_smt.pkl','wb') as f:
        pickle.dump(smt, f)
else:
    print('O smt não tem condições de ser avaliado.')

if 'exercicio14a' in globals():
    print('Objeto exercicio14a localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio14a.pkl','wb') as f:
        pickle.dump(exercicio14a, f)
else:
    print('O exercicio14a não tem condições de ser avaliado.')

if 'exercicio14b' in globals():
    print('Objeto exercicio14b localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio14b.pkl','wb') as f:
        pickle.dump(exercicio14b, f)
else:
    print('O exercicio14b não tem condições de ser avaliado.')

if 'exercicio14c' in globals():
    print('Objeto exercicio14c localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio14c.pkl','wb') as f:
        pickle.dump(exercicio14c, f)
else:
    print('O exercicio14c não tem condições de ser avaliado.')

if 'exercicio14d' in globals():
    print('Objeto exercicio14d localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio14d.pkl','wb') as f:
        pickle.dump(exercicio14d, f)
else:
    print('O exercicio14d não tem condições de ser avaliado.')

if 'exercicio14e' in globals():
    print('Objeto exercicio14e localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio14e.pkl','wb') as f:
        pickle.dump(exercicio14e, f)
else:
    print('O exercicio14e não tem condições de ser avaliado.')

if 'exercicio14f' in globals():
    print('Objeto exercicio14f localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio14f.pkl','wb') as f:
        pickle.dump(exercicio14f, f)
else:
    print('O exercicio14f não tem condições de ser avaliado.')

if 'exercicio15a' in globals():
    print('Objeto exercicio15a localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio15a.pkl','wb') as f:
        pickle.dump(exercicio15a, f)
else:
    print('O exercicio15a não tem condições de ser avaliado.')

if 'exercicio15b' in globals():
    print('Objeto exercicio15b localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio15b.pkl','wb') as f:
        pickle.dump(exercicio15b, f)
else:
    print('O exercicio15b não tem condições de ser avaliado.')

if 'exercicio15c' in globals():
    print('Objeto exercicio15c localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio15c.pkl','wb') as f:
        pickle.dump(exercicio15c, f)
else:
    print('O exercicio15c não tem condições de ser avaliado.')

if 'exercicio15d' in globals():
    print('Objeto exercicio15d localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio15d.pkl','wb') as f:
        pickle.dump(exercicio15d, f)
else:
    print('O exercicio15d não tem condições de ser avaliado.')

if 'exercicio15e' in globals():
    print('Objeto exercicio15e localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio15e.pkl','wb') as f:
        pickle.dump(exercicio15e, f)
else:
    print('O exercicio15e não tem condições de ser avaliado.')

if 'exercicio15f' in globals():
    print('Objeto exercicio15f localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio15f.pkl','wb') as f:
        pickle.dump(exercicio15f, f)
else:
    print('O exercicio15f não tem condições de ser avaliado.')

if 'logreg' in globals():
    print('Variável logreg localizada. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_logreg.pkl','wb') as f:
        pickle.dump(logreg, f)
else:
    print('O logreg não tem condições de ser avaliado.')

if 'clf' in globals():
    print('Variável clf localizada. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_clf.pkl','wb') as f:
        pickle.dump(clf, f)
else:
    print('O clf não tem condições de ser avaliado.')

if 'svc' in globals():
    print('Variável svc localizada. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_svc.pkl','wb') as f:
        pickle.dump(svc, f)
else:
    print('O svc não tem condições de ser avaliado.')