# Identificação do participante

Preencha a célula abaixo com sua matrícula no formato F + 7 algarismos, sem dígito verificador.

Exemplo:

    chaveF = "F2872541"

In [1]:
chaveF = 'F2872541'

# Desafio Engenharia de Dados

A Dipes precisa fazer o acompanhamento do cumprimento dos indicadores de algumas Unidades Estratégicas e solicitou à UAN o desenvolvimento de um dashboard. Os colegas da equipe de Dataviz identificaram a necessidade de <b>disponibilização de algumas bases de dados</b> para desenvolvimento do dashboard, principalmente para o acompanhamento das <b>Trilhas de Capacitação</b> das Unidades Estratégicas:

|PREFIXO|SIGLA|
|---|---|
|8008|DIREC|
|8556|DICRE|
|8559|DIPES|
|8593|DIGOV|
|9797|UCI|
|9880|DIMEP|
|9968|UAN|
|9973|DIEMP|

A equipe de Engenharia de Dados foi então acionada para preparação das bases de dados conforme abaixo detalhado.

<b>Dados essenciais:</b>
- acompanhamento do cumprimento do indicador de capacitação por matrícula dos funcionários das Diretorias alvo da análise
- acompanhamento do cumprimento por UOR das Unidades Estratégicas, contendo a Vice-Presidência jurisdicionante

Além disso, a equipe de Dataviz solicitou que a equipe de engenharia reunisse algumas informações úteis para análise e levantamento de insights, tais como:
- dados de função, escolaridade, idade, tempo de banco e estado civil de cada funcionário das dependências citadas.
- detalhamentos sobre a área dos cursos que os funcionários concluíram nos últimos 3 anos para identificação do perfil.

# Orientações Gerais:

1) Inclua sua matrícula na seção de Identificação, no início deste Notebook.

2) **Link para envio das soluções:**

- https://envio-academiabb.bb.com.br/

    - **Atenção:** não serão acatadas outras formas de envio. O link acima permite acesso com senha de portais externos.

3) Selecione a Trilha Engenharia ao enviar.

**Nome do arquivo:** cada participante deverá baixar o presente arquivo e renomeá-lo de modo a conter:

- A matrícula com F maiúsculo, sete algarismos e sem dígito (FXXXXXXX)

- A trilha a qual a entrega se refere em letras minúsculas: engenharia

- O nome não deve conter espaços em branco. Substitua-os por “_”.

- O versionamento será gerado automaticamente na subida do arquivo, por meio do timestamp do envio.

    - Exemplo1: F1234567_engenharia.ipynb

    - Exemplo2: F1234567_engenharia_v3.ipynb

**Formato:** .ipynb

- **Atenção:** não carregar nenhum outro formato de arquivo, pois será ignorado

**Prazo final:** até às 18h (horário de Brasília) do dia 20/09/2024.

## Requerimentos de versões

Para construção do desafio em qualquer ambiente diferente do [labblite](https://labblite.bb.com.br/), deverão ser utilizadas as versões de biblioteca abaixo especificadas:

|Biblioteca|Versão|
|---|---|
|pandas|1.5.2 ou inferior|
|numpy|1.23.5 ou inferior|
|unidecode|1.3.8 ou inferior|
|pathlib|sem indicativo de versão|
|glob|sem indicativo de versão|

Essas versões são padrão no labblite, e você pode checar após importação da biblioteca por meio da instrução:
    
    print(nome_biblioteca. __version__)

Caso identifique a necessidade de utilização de alguma biblioteca diferente das listadas acima, entre em contato com a comissão organizadora para verificar a possibilidade de utilização no script, sob o risco de gerar erros durante a validação.

## Pode:

- Inserir células no notebook.

    Obs: as células adicionadas após a seção do Boletim de Soluções não surtirão efeitos para fins de validação dos resultados dos exercícios propostos.

- Fazer vários envios (tantos quantos forem necessários).

- Nas máquinas do Banco, desenvolver na plataforma [Labblite](https://labblite.bb.com.br/)

- O participante que optar por desenvolver no computador pessoal, poderá utilizar qualquer plataforma que permita a execução de scripts em Python, desde que atente para as versões das bibliotecas mencionadas na seção "Requerimentos de versões" acima especificada.
    
    Atenção: consulte as versões homologadas pelo Banco no aplicativo <b>BB Verifica Software</b> antes de instalar qualquer aplicativo nas máquinas corporativas.

## Não pode:

- Compartilhar arquivos/código, sob pena de desclassificação de todas as partes envolvidas.

- Alterar as bases de dados disponibilizadas. Os itens contidos na pasta “bases” devem permanecer inalterados quanto a:
    - Nome e tipo dos arquivos/pastas
    - Conteúdo
    - Estrutura das pastas iniciando em “bases”

- Descompactar os arquivos correspondentes às bases de dados. Os arquivos disponibilizados no formato .zip deverão ser lidos nesse mesmo formato.

- Gerar arquivos de qualquer formato durante a execução, com exceção daqueles gerados pelo Boletim de Soluções.

- Utilizar outros arquivos além dos disponibilizados no pacote do desafio do Eixo Temático Engenharia de Dados.

- Excluir ou alterar linhas do Boletim de Soluções (exceto quando explicitamente orientado pela comissão organizadora do Programa).

- Apresentar erros no código no momento da validação.

- O tempo total de execução do notebook não poderá exceder 2 minutos. 

- Importar bibliotecas no código enviado para validação. Caso necessite instalar bibliotecas durante o desenvolvimento da solução, as linhas deverão ser comentadas antes do envio, sob o risco de apresentar erros ou exceder o tempo de execução do notebook durante a validação dos exercícios.
    
    *Atenção:* as bibliotecas mapeadas estarão previamente instaladas no ambiente de execução da solução validadora. Caso identifique a necessidade de utilizar alguma biblioteca diferente das mencionadas na seção "Requerimentos de versões", entre em contato com a comissão organizadora para verificar a viabilidade de utilização.

## Geras para o Nome Físico das colunas

- Observe atentamente a documentação constante no enunciado de cada exercício, para evitar apontamentos nas verificações.

- A ordem dos atributos deverá ser obedecida na construção dos DataFrames.

- A nomenclatura de todos os campos dos DataFrames deverá seguir o padrão de nomenclatura do Banco, conforme consulta disponível no Glossário.

- O nome físico não deve conter espaços, devendo as abreviações ser separadas por “_”. 

- Todas as palavras do Nome Lógico deverão ser abreviadas, com exceção apenas das preposições (ex.: de, com, para, até, etc.).

- Ao consultar o Glossário, é importante atentar para a existência de palavras compostas, que devem ser abreviadas juntas.

## Demais recomendações/Orientações

- Leia atentamente o enunciado dos exercícios. Eventuais cálculos, formatações, filtros, transformações ou arredondamentos dos dados serão detalhados na descrição de cada atributo.

- Verifique o indicativo de nível de dificuldade e de ordem de solução dos exercícios, pois alguns têm como requisito a conclusão de algum exercício anterior na íntegra.

- Não se esqueça de salvar seu projeto! Sugerimos fazer vários versionamentos dos arquivos, para não correr riscos de perder alterações e para ter um backup, caso algo não saia como o planejado.

- Não se assuste com os apontamentos de erros durante o desenvolvimento dos exercícios. Observe as orientações e dicas para solucioná-los com maior assertividade.

- Ao fazer junção de tabelas, não se esqueça de conferir as quantidades de linhas e colunas das tabelas originais e tenha sempre em mente o seu objetivo antes de escolher o método de junção (interna, esquerda, direita ou total).

- Ao copiar variáveis, utilize preferencialmente o método copy() para evitar corromper as variáveis que serão utilizadas para conferência dos exercícios.

- Faça envios parciais, tantos quanto for necessário. Não há limite de quantidade de envios. O ideal é submeter seu notebook a cada exercício concluído, para evitar acúmulo de apontamentos na validação. 

- Execute o Notebook na íntegra antes de efetuar seus envios para testar o tempo de execução e a ocorrência de erros, mesmo que ainda não tenha finalizado todos os exercícios.

- Utilize o Boletim de Soluções ao final do Notebook Modelo para checar a existência das variáveis de cada exercício. Não se esqueça de informar a sua chave F (chaveF) na seção de Identificação. 

- Após execução na íntegra do seu notebook, visualize suas variáveis finais, aquelas que serão utilizadas para correção dos exercícios, para chegar eventuais alterações indesejadas nas variáveis. Exemplo:
    
        exercicio1.info()
        exercicio2.info()


**Atenção:** encorajamos a colaboração entre os participantes, porém sempre no sentido de ajudar os demais a chegarem à resposta, nunca respondendo diretamente às perguntas ou compartilhando os arquivos/código.

# Importar bibliotecas

Use esse espaço para importar as bibliotecas necessárias para execução do seu notebook.

Lembrando que eventuais instalações de bibliotecas durante o desenvolvimento deverão ser retiradas ou comentadas antes do envio.

In [ ]:
# Atenção, somente descomente as células abaixo caso não esteja desenvolvendo no labblite
# após instalação, comente novamente as células

#!pip3 install --force-reinstall --user pandas==1.5.2
#!pip3 install --force-reinstall --user numpy==1.23.5
#!pip3 install --force-reinstall --user unidecode==1.3.8

In [1]:
# as celulas abaixo referem-se a instalação e importação de bibliotecas para desenvolvimento da solução
# favor não alterar esta célula sem antes consultar a comissão organizadora

try:
    import micropip 
    await micropip.install('pandas')
    import pandas as pd
    await micropip.install('unidecode')
    from unidecode import unidecode
    await micropip.install('numpy')
    import numpy as np
    import warnings
    warnings.filterwarnings("ignore")
    from pathlib import Path
    import glob
    
    mensagem = "Importações de bibliotecas executadas com sucesso"
except:
    try:
        import pandas as pd
        from unidecode import unidecode
        import numpy as np
        import warnings
        warnings.filterwarnings("ignore")
        from pathlib import Path
        import glob

        mensagem = "Importações de bibliotecas executadas com sucesso"
    except Exception as e:
        mensagem = f"{e.args[0]} \nImportações de bibliotecas não executada"
finally:
    print(mensagem)

Importações de bibliotecas executadas com sucesso

In [2]:
def converter_texto(texto):
    if pd.isnull(texto):
        return texto
    return unidecode(texto).upper()

# Exercício 1 - Tabela de Vínculo entre as Unidades Organizacionais

<b>Nível de dificuldade:</b> 1

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio1</b> com a tabela que contém o vínculo entre as UORs do Banco.

Na tabela abaixo especificamos as <b>informações descritivas</b> (nome, formato dos dados, etc.) dos atributos (colunas) que deverão constar no dataframe resultante:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Unidade Organizacional Vinculada|CD_UOR_VCLD|Int64|Código identificador de Unidade Organizacional (UOR) vinculada ou JURISDICIONADA.|N|VCL_UOR|CD_UOR_VCLD
|2|Código do Tipo de Vínculo|CD_TIP_VCL|Int64|Código identificador do Tipo de Vínculo ou JURISDIÇÃO utilizado para a vinculação entre Unidades Organizacionais.|N|VCL_UOR|CD_TIP_VCL
|3|Código da Unidade Organizacional Vinculadora|CD_UOR_VCLR|Int64|Código identificador da Unidade Organizacional vinculadora ou JURISDICIONANTE, conforme determinado Tipo de Vínculo ou jurisdição.|N|VCL_UOR|CD_UOR_VCLR
|4|Número do Intervalo de Nível Hierárquico|NR_ITVL_NVL_HRQO|Int64|Representa o intervalo de nível hierárquico entre a UOR Vinculada e a UOR Vinculadora. A partir deste atributo, é possível saber quantos níveis acima ou abaixo encontra-se uma UOR Vinculadora em relação à UOR Vinculada.|S|VCL_UOR|NR_ITVL_NVL_HRQO

Ao final do exerício, o resultado da consulta do cabeçado (<b>.head()</b>) do dataframe exercicio1 deverá seguir a estrutura abaixo exemplificada:

- código a ser executado:


    <i>exercicio1.head()</i>

- exemplo de resultado do código acima com valores fictícios:

||CD_UOR_VCLD|CD_TIP_VCL|CD_UOR_VCLR|NR_ITVL_NVL_HRQO|
|---|---|---|---|---|
|0|9999|99|1111|&lt;NA&gt;|
|1|9999|101|2222|&lt;NA&gt;|
|2|9999|1100|3333|&lt;NA&gt;|
|3|9999|1200|4444|&lt;NA&gt;|
|4|9999|1220|5555|&lt;NA&gt;|

   
<b>Regra:</b> a ordem das colunas deverá obedecer à ordem da tabela de informações descritivas constante do enunciado.

<b>Dica 1:</b> verifique o <b>Vocabulário de Termos</b> anexo para saber mais sobre o termo <b>&lt;NA&gt;</b> e o tipo <b>Int64</b>.

<b>Dica 2:</b> os registros nulos somente deverão ser tratados quando expressamente orientado no enunciado do exercício.

In [7]:
exercicio1 = pd.read_csv('bases/VCL_UOR.csv', sep=';')
exercicio1['CD_UOR_VCLD'] = pd.to_numeric(exercicio1['CD_UOR_VCLD']).astype('Int64')
exercicio1['CD_TIP_VCL'] = pd.to_numeric(exercicio1['CD_TIP_VCL']).astype('Int64')
exercicio1['CD_UOR_VCLR'] = pd.to_numeric(exercicio1['CD_UOR_VCLR']).astype('Int64')
exercicio1['NR_ITVL_NVL_HRQO'] = pd.to_numeric(exercicio1['NR_ITVL_NVL_HRQO']).astype('Int64')

In [8]:
exercicio1.head(5)

   CD_UOR_VCLD  CD_TIP_VCL  CD_UOR_VCLR  NR_ITVL_NVL_HRQO
0         9598          99         4924              <NA>
1         9598         101         9598              <NA>
2         9598        1060        38047              <NA>
3         9598        1090         7638              <NA>
4         9598        1100         1993              <NA>

In [7]:
exercicio1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40869 entries, 0 to 40868
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR_VCLD       40869 non-null  Int64
 1   CD_TIP_VCL        40869 non-null  Int64
 2   CD_UOR_VCLR       40869 non-null  Int64
 3   NR_ITVL_NVL_HRQO  8452 non-null   Int64
dtypes: Int64(4)
memory usage: 1.4 MB

# Exercício 2 - Tabela de Unidades Organizacionais (UOR) do BB

<b>Nível de dificuldade (1 a 5):</b> 2

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio2</b> com a tabela UORs do BB, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Unidade Organizacional|CD_UOR|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|UOR|CD_UOR
|2|Nome da Unidade Organizacional Reduzido|NM_UOR_RDZ|object|Nome reduzido da Unidade Organizacional.|N|UOR|NM_UOR_RDZ
|3|Sigla da Unidade Organizacional|SG_UOR|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|S|UOR|SG_UOR
|4|Data Início de Validade|DT_INC_VLD|datetime64[ns]|Data em que o registro passa a ter validade (geralmente coincide com a data de inclusão).  Formato "AAAA-MM-DD".|N|UOR|DT_INC_VLD
|5|Código do Item da Arquitetura da Unidade Organizacional|CD_ITEM_AQTT_UOR|Int64|Código identificador dos Itens de Arquitetura que existem em uma Instituição Organizacional para orientação da estrutura das Unidades Organizacionais (oriundo do sistema IOR).|N|UOR|CD_ITEM_AQTT_UOR
|6|Código do Tipo da Unidade Organizacional|CD_TIP_UOR|Int64|Código identificador dos Tipos nos quais as Unidades Organizacionais podem ser classificadas. Ex.: "001 - Governo" "003 - Canal de Atendimento",  "004 - Dependências BB",  "005 - Exterior" etc. |N|UOR|CD_TIP_UOR
|7|Código da Dependência da Unidade Organizacional|CD_DEPE_UOR|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.Ex.: "0001 - Ag. Rio de Janeiro", "4886 - Ag. Estilo Alvorada-Brasília"|N|UOR|CD_DEPE_UOR
|8|Número da Ordem da Dependência Subordinada|NR_ORD_DEPE_SBDD|Int64|Número identificador de subordinação de uma dependência de IOR's que possuam em sua organização subdependências ou subordinadas. 0 indica a UOR principal da dependência|N|UOR|NR_ORD_DEPE_SBDD

<b>Regra 1:</b> considere apenas as UORs da Instituição Organizacional "Banco do Brasil".

<b>Regra 2:</b> considere apenas as UORs "em funcionamento".

<b>Dica: </b>atenção para o formato da data.

In [8]:
exercicio2 = pd.DataFrame()
for i in range(1,13):
    zip_file = f'bases/UOR/uor{i:02d}.zip'
    df = pd.read_csv(zip_file, compression='zip')
    exercicio2 = pd.concat([exercicio2, df])
exercicio2 = exercicio2.query('CD_IOR == 1 and CD_EST_UOR == 2')
exercicio2.head()

,CD_UOR,CD_IOR,NM_UOR_RDZ,NM_UOR,DT_INC_VLD,DT_FIM_VLD,DT_ATL,HR_ATL,CD_RSP_ATL,CD_ITEM_AQTT_UOR,...,NR_CNPJ_UOR,SG_UOR,IN_RST_ACSS_PSS,IN_UOR_UNCO_MUN,DT_INC_ATVD_UOR,DT_PRVT_ECR_UOR,CD_ENT_LCZC_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD,DV_CD_DEPE_UOR
0,1,1,RIO,"RIO-RIO DE JANEIRO,RJ ...",02/05/1936,31/12/9999,17/12/2008,17:02:59,F6774737,54,...,6197,NaN,N,N,02/05/1936,31/12/9999,NaN,1.0,0.0,5
2,3,1,MANAUS,"MANAUS-MANAUS,AM ...",14/01/1908,31/12/9999,17/12/2008,17:02:59,F2363941,54,...,9381,NaN,N,N,14/01/1908,31/12/9999,NaN,2.0,0.0,6
3,4,1,PRESIDENTE VARGAS,"PRESIDENTE VARGAS-BELEM,PA ...",01/07/1908,31/12/9999,17/12/2008,17:02:59,F0310265,54,...,9578,NaN,N,N,01/07/1908,31/12/9999,NaN,3.0,0.0,5
4,5,1,SANTOS,"SANTOS,SANTOS-SP ...",22/08/1908,31/12/9999,17/12/2008,17:02:59,F1053138,54,...,3551,NaN,N,N,22/08/1908,31/12/9999,NaN,4.0,0.0,4
6,7,1,CAMPOS GOYTACAZES,"CAMPOS DOS GOYTACAZES-CAMPOS DOS GOYTACAZES,RJ...",26/06/1910,31/12/9999,17/12/2008,17:02:59,F2213181,54,...,7908,NaN,N,N,26/06/1910,31/12/9999,NaN,5.0,0.0,2

In [10]:
exercicio2['CD_UOR'] = pd.to_numeric(exercicio2['CD_UOR']).astype('Int64')
exercicio2['DT_INC_VLD'] = pd.to_datetime(exercicio2['DT_INC_VLD'], format='%d/%m/%Y')
exercicio2['CD_ITEM_AQTT_UOR'] = pd.to_numeric(exercicio2['CD_ITEM_AQTT_UOR']).astype('Int64')
exercicio2['CD_TIP_UOR'] = pd.to_numeric(exercicio2['CD_TIP_UOR']).astype('Int64')
exercicio2['CD_DEPE_UOR'] = pd.to_numeric(exercicio2['CD_DEPE_UOR']).astype('Int64')
exercicio2['NR_ORD_DEPE_SBDD'] = pd.to_numeric(exercicio2['NR_ORD_DEPE_SBDD']).astype('Int64')
selecionar_colunas = ['CD_UOR', 'NM_UOR_RDZ', 'SG_UOR', 'DT_INC_VLD', 'CD_ITEM_AQTT_UOR', 'CD_TIP_UOR', 'CD_DEPE_UOR', 'NR_ORD_DEPE_SBDD']
exercicio2 = exercicio2[selecionar_colunas]

In [9]:
exercicio2.info()
exercicio2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43005 entries, 0 to 20832
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR            43005 non-null  Int64
 1   NM_UOR_RDZ        43005 non-null  object
 2   SG_UOR            39719 non-null  object
 3   DT_INC_VLD        43005 non-null  datetime64[ns]
 4   CD_ITEM_AQTT_UOR  43005 non-null  Int64
 5   CD_TIP_UOR        43005 non-null  Int64
 6   CD_DEPE_UOR       43005 non-null  Int64
 7   NR_ORD_DEPE_SBDD  43005 non-null  Int64
dtypes: Int64(5), datetime64[ns](1), object(2)
memory usage: 2.8+ MB

,CD_UOR,NM_UOR_RDZ,SG_UOR,DT_INC_VLD,CD_ITEM_AQTT_UOR,CD_TIP_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD
0,1,RIO,NaN,1936-05-02,54,4,1,0
2,3,MANAUS,NaN,1908-01-14,54,4,2,0
3,4,PRESIDENTE VARGAS,NaN,1908-07-01,54,4,3,0
4,5,SANTOS,NaN,1908-08-22,54,4,4,0
6,7,CAMPOS GOYTACAZES,NaN,1910-06-26,54,4,5,0

# Exercício 3 - Tabela de cursos realizados por funcionário

<b>Nível de dificuldade (1 a 5):</b> 1

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio3</b> com a tabela dos cursos realizados pelos funcionários, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula do funcionário. |N|?|?|
|2|Código do Curso|?|Int64|Identificador do curso. Campo numérico de 7 posições. |N|?|?|
|3|Data final do curso|?|datetime64[ns]|Data que identifica a finalizaçao do curso. Formato "AAAA-MM-DD".|N|?|?|
|4|Codigo de origem do curso|?|Int64|O conteudo deste campo indentificara a origem do curso. Exemplo: 01-ARH, 02-GTD, 03-PFP, 04-ALURA, 05-UNIBB, 17-SYNAPSE|N|?|?|

<b>Dica 1:</b> para construir o nome físico das tabelas, consulte as abreviações no Glossário de Termos.

<b>Dica 2:</b> atenção para o formato da matrícula.

In [10]:
exercicio3 = pd.DataFrame()
for i in range(1,12):
    zip_file = f'bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis{i:02d}.zip'
    df = pd.read_csv(zip_file, compression='zip')
    exercicio3 = pd.concat([exercicio3, df])
exercicio3['MATRICULA'] = exercicio3['MATRICULA'].str.replace('F','').astype('Int64')
exercicio3['DT_FIM_CSO'] = pd.to_datetime(exercicio3['DT_FIM_CSO'])
exercicio3 = exercicio3.rename(columns={
    'MATRICULA': 'CD_MTC_FUN'    
})

exercicio3['CD_MTC_FUN'] = pd.to_numeric(exercicio3['CD_MTC_FUN']).astype('Int64')
exercicio3['CD_CSO'] = pd.to_numeric(exercicio3['CD_CSO']).astype('Int64')
exercicio3['CD_OGM_CSO'] = pd.to_numeric(exercicio3['CD_OGM_CSO']).astype('Int64')

In [11]:
exercicio3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1953341 entries, 0 to 8340
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   CD_MTC_FUN  Int64
 1   CD_CSO      Int64
 2   DT_FIM_CSO  datetime64[ns]
 3   CD_OGM_CSO  Int64
dtypes: Int64(3), datetime64[ns](1)
memory usage: 80.1 MB

In [12]:
exercicio3.head()

   CD_MTC_FUN  CD_CSO DT_FIM_CSO  CD_OGM_CSO
0     3066439     127 2008-04-04           4
1     3066439     350 2012-05-18           4
2     3066439     569 2013-10-22           4
3     3066439     828 2016-10-07           4
4     3066439    1251 2013-11-13           4

# Exercício 4 - Tabela de cadastro dos funcionários

<b>Nível de dificuldade (1 a 5):</b> 2

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio4</b> com a tabela de cadastro dos funcionários, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula (F) do funcionário. |N|CAD_FUN|?
|2|Nome do funcionário|?|object|Nome do funcionário cadastrado no ARH. Formato: caixa alta, sem acentuação.|N|CAD_FUN|?
|3|Sigla do Tipo do Estado Civil|?|object|Sigla ARH que define o estado civil do funcionário. |N|CAD_FUN|?
|4|Código do Tipo de Nível de Instrução|?|Int64|Código ARH do nível de instrução. |N|CAD_FUN|?
|5|Data de nascimento|?|datetime64[ns]|Data de nascimento. Formato "AAAA-MM-DD".|N|CAD_FUN|?
|6|Código do Tipo de Gênero|?|Int64|Código ARH do sexo/gênero. 1 -Masculino, 2 - Feminino.|N|CAD_FUN|?
|7|Código do Prefixo da Dependência de Localização|?|Int64|Código do prefixo da dependência de localização (UOR). |N|CAD_FUN|?
|8|Código de Função ou Cargo Efetiva|?|Int64|Código ARH da função ou cargo efetivo. Exemplo: 610 - ESCRITURARIO, 12381 - ASSESSOR II UE etc. |N|CAD_FUN|?
|9|Data de Posse na Localização|?|datetime64[ns]|Data de posse na dependência de localização (UOR).  Formato "AAAA-MM-DD".|N|CAD_FUN|?
|10|Data de posse no BB|?|datetime64[ns]|Data de posse no Banco do Brasil. Formato "AAAA-MM-DD".|N|CAD_FUN|?

<b>Dica:</b> atenção para a formatação do nome.

In [9]:
exercicio4 = pd.read_csv('bases/CAD_FUN.csv', sep=',', converters={
    'NOME': converter_texto
})
exercicio4['NASC_DT'] = pd.to_datetime(exercicio4['NASC_DT'])
exercicio4['LOCALIZACAO_DT'] = pd.to_datetime(exercicio4['LOCALIZACAO_DT'])
exercicio4['POSSE_BANCO_DT'] = pd.to_datetime(exercicio4['POSSE_BANCO_DT'])
exercicio4 = exercicio4.rename(columns={
    'MATRICULA': 'CD_MTC_FUN',
    'NOME': 'NM_FUN',
    'EST_CIVIL': 'SG_TIP_EST_CVL',
    'GRAU_INSTRUCAO': 'CD_TIP_NVL_ITC',
    'NASC_DT': 'DT_NSC',
    'SEXO': 'CD_TIP_GNR',
    'LOCALIZACAO': 'CD_PRF_DEPE_LCZC',
    'FUNCAO_LOCALIZACAO': 'CD_FUC_CRG_EFT',
    'LOCALIZACAO_DT': 'DT_PSSE_LCZC',
    'POSSE_BANCO_DT': 'DT_PSSE_BB'
    
})
exercicio4['CD_MTC_FUN'] = pd.to_numeric(exercicio4['CD_MTC_FUN']).astype('Int64')
exercicio4['CD_TIP_NVL_ITC'] = pd.to_numeric(exercicio4['CD_TIP_NVL_ITC']).astype('Int64')
exercicio4['CD_TIP_GNR'] = pd.to_numeric(exercicio4['CD_TIP_GNR']).astype('Int64')
exercicio4['CD_PRF_DEPE_LCZC'] = pd.to_numeric(exercicio4['CD_PRF_DEPE_LCZC']).astype('Int64')
exercicio4['CD_FUC_CRG_EFT'] = pd.to_numeric(exercicio4['CD_FUC_CRG_EFT']).astype('Int64')
exercicio4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5287 entries, 0 to 5286
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MTC_FUN        5287 non-null   Int64
 1   NM_FUN            5287 non-null   object
 2   SG_TIP_EST_CVL    5287 non-null   object
 3   CD_TIP_NVL_ITC    5287 non-null   Int64
 4   DT_NSC            5287 non-null   datetime64[ns]
 5   CD_TIP_GNR        5287 non-null   Int64
 6   CD_PRF_DEPE_LCZC  5287 non-null   Int64
 7   CD_FUC_CRG_EFT    5287 non-null   Int64
 8   DT_PSSE_LCZC      5287 non-null   datetime64[ns]
 9   DT_PSSE_BB        5287 non-null   datetime64[ns]
dtypes: Int64(5), datetime64[ns](3), object(2)
memory usage: 397.6+ KB

In [10]:
exercicio4

,CD_MTC_FUN,NM_FUN,SG_TIP_EST_CVL,CD_TIP_NVL_ITC,DT_NSC,CD_TIP_GNR,CD_PRF_DEPE_LCZC,CD_FUC_CRG_EFT,DT_PSSE_LCZC,DT_PSSE_BB
0,665496,AGATHA DA COSTA,2,8,1970-01-01 00:00:00.004111966,2,8008,12392,2024-05-21,2008-10-01
1,724351,ALEXIA DIAS,8,8,1970-01-01 00:00:00.020021981,2,8008,12331,2017-02-21,2002-12-16
2,850407,ALLANA MENDONCA,1,8,1970-01-01 00:00:00.004101983,2,8008,12331,2023-10-30,2012-06-11
3,872028,AMANDA SOUSA,2,8,1970-01-01 00:00:00.030051979,2,8008,12331,2022-05-23,2015-08-03
4,971323,ANA CLARA MONTENEGRO,2,8,1970-01-01 00:00:00.009121982,2,8008,12331,2023-07-06,2016-01-25
...,...,...,...,...,...,...,...,...,...,...
5282,9666342,VALENTINA DIAS,1,8,1970-01-01 00:00:00.028011981,2,9984,12381,2023-06-26,2006-11-06
5283,9794067,VITOR HUGO PIMENTA,1,8,1970-01-01 00:00:00.003011975,1,9984,12381,2021-02-22,2010-06-28
5284,9829830,VITORIA BORGES,2,8,1970-01-01 00:00:00.010031980,2,9984,12331,2012-05-02,1998-06-22
5285,9893842,YAGO RODRIGUES,3,8,1970-01-01 00:00:00.016011977,1,9984,12051,2023-03-07,1986-10-16
5286,9990080,ZOE RAMOS,1,8,1970-01-01 00:00:00.012031981,2,9984,12010,2022-11-17,2003-05-05

# Exercício 5 - Incremento da tabela de cadastro de funcionários

<b>Nível de dificuldade (1 a 5):</b> 3

<b>Requisitos:</b> exercício 4

Criar um DataFrame Pandas chamado <b>exercicio5</b> contendo os campos adicionais do cadastro do funcionários, conforme abaixo detalhado:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula (F) do funcionário. |N|?|?|
|2|Nome do funcionário|?|object|Nome do funcionário cadastrado no ARH. Formato: caixa alta, sem acentuação.|N|?|?|
|3|Código de Função ou Cargo Efetiva|?|Int64|Código ARH da função ou cargo efetivo. Exemplo: 610, 12381, etc. |N|?|?|
|4|Nome da Função ou Cargo Efetivo|?|object|Nome da função ou cargo efetivo. Exemplo: 610 - ESCRITURARIO, 12381 - ASSESSOR II UE etc. |S|?|?|
|5|Código do Prefixo da Dependência de Localização|?|Int64|Código do prefixo da dependência de localização (UOR). |N|?|?|
|6|Data de Posse na Localização|?|datetime64[ns]|Data de posse na dependência de localização (UOR).  Formato "AAAA-MM-DD".|N|?|?|
|7|Data de posse no BB|?|datetime64[ns]|Data de posse no Banco do Brasil. Formato "AAAA-MM-DD".|N|?|?|
|8|Data de nascimento|?|datetime64[ns]|Data de nascimento. Formato "AAAA-MM-DD".|N|?|?|
|9|Código do Tipo de Gênero|?|Int64|Código ARH do sexo/gênero. 1 -Masculino, 2 - Feminino.|N|?|?|
|10|Sigla do Tipo do Estado Civil|?|object|Sigla ARH que define o estado civil do funcionário. |N|?|?|
|11|Nome do Tipo de Estado Civil|?|object|Descrição do estado civil do funcionário. |N|?|?|
|12|Código do Tipo de Nível de Instrução|?|Int64|Código ARH do nível de instrução. |N|?|?|
|13|Nome do Tipo de Nível de Instrução|?|object|Descrição do nível de instrução. |N|?|?|

<b>Regra 1:</b> para a descrição do estado civil, considere os valores abaixo:

|Cod.|Descrição|
|---|---|
|1|SOLTEIRO(A)|
|2|CASADO(A)|
|3|CASADO(A) COM FUNCIONARIA(O)|
|4|VIUVO(A)|
|5|SEPARADO(A) JUDICIAL OU EXTRAJ|
|8|DIVORCIADO(A)|
|M|SEPARADO(A) CONSENSUALMENTE|

<b>Regra 2:</b> para a descrição do nível de instrução, considere os valores abaixo:

|Cod.|Descrição|
|---|---|
|1|ENSINO FUNDAMENTAL|
|2|ENSINO MEDIO|
|3|SUPERIOR EM ANDAMENTO|
|4|SUPERIOR SEQUENCIAL|
|5|SUPERIOR GRADUACAO|
|6|POS-GRADUACAO-APERFEIC|
|7|POS-GRADUCAO-ESPEC|
|8|MESTRADO|
|9|DOUTORADO|

In [137]:
exercicio5 = exercicio4.copy()
# 5287
df_fuc_fun = pd.read_csv('bases/FUC_FUN.csv')
df_cad_fun = pd.read_csv('bases/CAD_FUN.csv')

dc_grau_instrucao =  {
                        1: 'ENSINO FUNDAMENTAL',
                        2: 'ENSINO MEDIO',
                        3: 'SUPERIOR EM ANDAMENTO',
                        4: 'SUPERIOR SEQUENCIAL',
                        5: 'SUPERIOR GRADUACAO',
                        6: 'POS-GRADUACAO-APERFEIC',
                        7: 'POS-GRADUCAO-ESPEC',
                        8: 'MESTRADO',
                        9: 'DOUTORADO'                       
                        }


dc_estado_civil = {
    '1': 'SOLTEIRO(A)',
    '2': 'CASADO(A)',
    '3': 'CASADO(A) COM FUNCIONARIA(O)',
    '4': 'VIUVO(A)',
    '5': 'SEPARADO(A) JUDICIAL OU EXTRAJ',
    '8': 'DIVORCIADO(A)',
    'M': 'SEPARADO(A) CONSENSUALMENTE'
}

In [149]:
exercicio5['NM_TIP_EST_CVL'] = exercicio5['SG_TIP_EST_CVL'].map(dc_estado_civil)
exercicio5['NM_TIP_NVL_ITC'] = exercicio5['CD_TIP_NVL_ITC'].map(dc_grau_instrucao)

# exercicio5 = pd.merge(exercicio5, df_cad_fun, left_on='CD_FUC_CRG_EFT', right_on='FUNCAO_LOCALIZACAO', how='inner')
# exercicio5 = pd.merge(exercicio5, df_estado_civil, on='SG_TIP_EST_CVL', how='inner')
exercicio5 = pd.merge(exercicio5, df_fuc_fun, left_on='CD_FUC_CRG_EFT', right_on='CD_FUC_FUN', how='left')
# exercicio5 = pd.merge(exercicio5, df_grau_instrucao, on='CD_TIP_NVL_ITC', how='left')
# exercicio5 = pd.merge(exercicio5, df_cad_fun,  )

colunas = [
    'CD_MTC_FUN'
     ,'NM_FUN'
    ,'CD_FUC_CRG_EFT' 
    , 'NM_FUC_FUN'    
    ,'CD_PRF_DEPE_LCZC' ,
    'DT_PSSE_LCZC', 'DT_PSSE_BB', 'DT_NSC', 'CD_TIP_GNR', 'SG_TIP_EST_CVL',
    'NM_TIP_EST_CVL', 'CD_TIP_NVL_ITC', 'NM_TIP_NVL_ITC'
]

exercicio5 = exercicio5[colunas]
exercicio5 = exercicio5.rename(columns={
    'NM_FUC_FUN': 'NM_FUC_CRG_EFT',
})
exercicio5['CD_MTC_FUN'] = pd.to_numeric(exercicio5['CD_MTC_FUN']).astype('Int64')
exercicio5['CD_FUC_CRG_EFT'] = pd.to_numeric(exercicio5['CD_FUC_CRG_EFT']).astype('Int64')
exercicio5['CD_PRF_DEPE_LCZC'] = pd.to_numeric(exercicio5['CD_PRF_DEPE_LCZC']).astype('Int64')
exercicio5['CD_TIP_GNR'] = pd.to_numeric(exercicio5['CD_TIP_GNR']).astype('Int64')
exercicio5['CD_TIP_NVL_ITC'] = pd.to_numeric(exercicio5['CD_TIP_NVL_ITC']).astype('Int64')

In [150]:
exercicio5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5287 entries, 0 to 5286
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MTC_FUN        5287 non-null   Int64
 1   NM_FUN            5287 non-null   object
 2   CD_FUC_CRG_EFT    5287 non-null   Int64
 3   NM_FUC_CRG_EFT    5262 non-null   object
 4   CD_PRF_DEPE_LCZC  5287 non-null   Int64
 5   DT_PSSE_LCZC      5287 non-null   datetime64[ns]
 6   DT_PSSE_BB        5287 non-null   datetime64[ns]
 7   DT_NSC            5287 non-null   datetime64[ns]
 8   CD_TIP_GNR        5287 non-null   Int64
 9   SG_TIP_EST_CVL    5287 non-null   object
 10  NM_TIP_EST_CVL    5287 non-null   object
 11  CD_TIP_NVL_ITC    5287 non-null   Int64
 12  NM_TIP_NVL_ITC    5287 non-null   object
dtypes: Int64(5), datetime64[ns](3), object(5)
memory usage: 500.8+ KB

In [151]:
exercicio5

,CD_MTC_FUN,NM_FUN,CD_FUC_CRG_EFT,NM_FUC_CRG_EFT,CD_PRF_DEPE_LCZC,DT_PSSE_LCZC,DT_PSSE_BB,DT_NSC,CD_TIP_GNR,SG_TIP_EST_CVL,NM_TIP_EST_CVL,CD_TIP_NVL_ITC,NM_TIP_NVL_ITC
0,665496,AGATHA DA COSTA,12392,ASSESSOR III UE,8008,2024-05-21,2008-10-01,1970-01-01 00:00:00.004111966,2,2,CASADO(A),8,MESTRADO
1,724351,ALEXIA DIAS,12331,ASSESSOR I UE,8008,2017-02-21,2002-12-16,1970-01-01 00:00:00.020021981,2,8,DIVORCIADO(A),8,MESTRADO
2,850407,ALLANA MENDONCA,12331,ASSESSOR I UE,8008,2023-10-30,2012-06-11,1970-01-01 00:00:00.004101983,2,1,SOLTEIRO(A),8,MESTRADO
3,872028,AMANDA SOUSA,12331,ASSESSOR I UE,8008,2022-05-23,2015-08-03,1970-01-01 00:00:00.030051979,2,2,CASADO(A),8,MESTRADO
4,971323,ANA CLARA MONTENEGRO,12331,ASSESSOR I UE,8008,2023-07-06,2016-01-25,1970-01-01 00:00:00.009121982,2,2,CASADO(A),8,MESTRADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5282,9666342,VALENTINA DIAS,12381,ASSESSOR II UE,9984,2023-06-26,2006-11-06,1970-01-01 00:00:00.028011981,2,1,SOLTEIRO(A),8,MESTRADO
5283,9794067,VITOR HUGO PIMENTA,12381,ASSESSOR II UE,9984,2021-02-22,2010-06-28,1970-01-01 00:00:00.003011975,1,1,SOLTEIRO(A),8,MESTRADO
5284,9829830,VITORIA BORGES,12331,ASSESSOR I UE,9984,2012-05-02,1998-06-22,1970-01-01 00:00:00.010031980,2,2,CASADO(A),8,MESTRADO
5285,9893842,YAGO RODRIGUES,12051,GER SOLUCOES UE,9984,2023-03-07,1986-10-16,1970-01-01 00:00:00.016011977,1,3,CASADO(A) COM FUNCIONARIA(O),8,MESTRADO
5286,9990080,ZOE RAMOS,12010,GER EXECUTIVO UE,9984,2022-11-17,2003-05-05,1970-01-01 00:00:00.012031981,2,1,SOLTEIRO(A),8,MESTRADO

# Exercício 6 - Tabela Catálogo de Cursos

<b>Nível de dificuldade (1 a 5):</b> 3

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio6</b> contendo o catálodo de cursos e formações do Banco, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código do Curso|?|Int64|Identificador do curso. Campo numérico de 7 posições. |N|?|?|
|2|Nome do Curso|?|object|Nome genérico do curso. |N|?|?|
|3|Texto do Curso|?|object|Breve descrição do assunto abordado pelo curso. |N|?|?|
|4|Texto do Objetivo do Curso|?|object|Texto que descreve o objetivo do curso. |N|?|?|
|5|Texto do Desempenho Esperado|?|object|Texto que descreve o desempenho esperado no curso para o treinando. |S|?|?|
|6|Texto do Objetivo Estratégico|?|object|Texto que descreve quais são os objetivos estratégicos do curso. |S|?|?|
|7|Código da Área de Conhecimento|?|Int64|Código da área de conhecimento do curso. Campo numérico de 3. Exemplo: Área: 170 (Será este atributo) Subárea: 170.050 conhecimento: 170.050.0025.|S|?|?|
|8|Nome da Área de Conhecimento|?|object|Descrição da área de conhecimento do curso.|S|?|?|
|9|Código da Sub Área de Conhecimento|?|Int64|Código da sub-área do conhecimento. Exemplo: Área: 170 Subárea: 170.050 (Será o 050) conhecimento: 170.050.0025.|S|?|?|
|10|Nome da Sub Área de Conhecimento|?|object|Descrição da sub-área do conhecimento.|S|?|?|
|11|Código do Conhecimento do Curso|?|Int64|Código do conhecimento. Identifica o conhecimento do curso.|N|?|?|
|12|Nome do Conhecimento do Curso|?|object|Descrição do conhecimento do curso.|S|?|?|
|13|Quantidade de Carga Horária do Curso|?|Int64|Carga horária total do curso em horas|S|?|?|
|14|Código do Tipo da Formação Superior|?|Int64|Código identificador da formação superior. Ex:   35- Pós-Graduação;  36- Mestrado;  37- Doutorado. |S|?|?|
|15|Texto do Tipo da Formação Superior|?|object|Descrição da formação superior. |S|?|?|
|16|Código da Modalidade do Curso|?|Int64|Indica o código da modalidade do curso. Sendo: 01 - Presencial; 02 - Auto-instrucional; 03 - Em serviço; 09 - A regularizar |N|?|?|
|17|Código do Nível do Curso|?|Int64|Identificador do tipo do nível do curso (enfoque de aprendizagem). Sendo: 01 - Fundamental; 02 - Instrumental; 03 - Estratégico; 04 - Acadêmico; 09 - A classificar. |N|?|?|
|18|Código da Natureza do Curso|?|Int64|Identificador da natureza do curso. 01 - Atualização; 02 - Formação; 03 - Aperfeiçoamento; 04 - Qualificação. |N|?|?|
|19|Código do Tipo de Origem do Curso|?|Int64|Código dos tipos de origem do curso. 01 - Desenvolvido pelo banco; 02 - Contratado no mercado; 03 - Em parceria |N|?|?|
|20|Código do Tipo de Público|?|Int64|Código dos tipos de público (participação) que o curso pode ter. Ex.: 1- Interno;  2- externo; 3- misto. |N|?|?|
|21|Indicador de Vigência do Curso|?|object|Indica a utilização do curso. Possíveis valores: "S" - (SIM) Em Linha; "N" - (NÃO) Fora de linha |N|?|?|
|22|Indicador de Trilha de Estratégica|?|object|Indica se o curso faz parte da Trilha de Estratégica de Capacitação. Possíveis valores: "S" - (SIM); "N" - (NÃO)|N|?|?|
|23|Nome da Etapa|?|object|Descrição do tema da etapa de capacitação para os cursos que fazem parte da Trilha Estratégica. Possíveis valores: ASG, NEGOCIOS, LIDERANCA, TRANSFORMACAO DIGITAL. Formato: caixa alta, sem acentuação.|S|?|?|

<b>Regra 1:</b> todas as colunas de texto devem ser formatadas conforme o padrão caixa alta e sem acento.

<b>Regra 2:</b> os registros das colunas de texto que contiverem nulos deverão permanecer nulos ao final das transformações.

<b>Regra 3:</b> excluir registros que atendam a alguma das regras abaixo:

- quando o Texto do Objetivo do Curso for igual a 'TESTE EDUCA' ou 'TESTE GTD' ou 'TESTE' ou 'TESTANDO' ou 'DADFAFD' ou 'SGASDG' ou 'NXYZ' ou 'R';
- quando o Texto do Objetivo do Curso for igual a 'A' e o Código da Área de Conhecimento for nulo;
- quando o Nome do Curso contiver 'EXCEL TESTE' ou 'TESTE DISCIPLINA' ou 'EXCLUIR' ou 'ALURA';
- quando o Nome do curso for contiver 'TESTE' e o Código da Área de Conhecimento for nulo, com exceção do curso 7740;
- quando o Nome do curso for contiver 'TESTE' e o Texto do Objetivo do Curso for igual a '.';
- quando o Texto do Curso contiver 'TESTE MATERIAL' ou 'TESTE GERAL'.
- quando o Nome do curso ou o Texto do Curso contiverem 'EXCLUIDO'.

In [13]:
exercicio6 = pd.DataFrame()
for i in range(1, 4):
    zip_file = f'bases/CSO/cso{i:02d}.zip'
    df = pd.read_csv(zip_file, compression='zip', converters= {
        'NM_CSO' : converter_texto,
        'TX_CSO' : converter_texto,
        'TX_OBJT_CSO' : converter_texto,
        'TX_DSMP_EPRO' : converter_texto,
        'TX_OBJT_ESTG' : converter_texto,
    })
exercicio6 = pd.concat([exercicio6, df])
teste = exercicio6['CD_TIP_FRMC_SUPR'].isna().sum()
df_conhecimento_do_curso = pd.read_csv('bases/CNH.csv')    
exercicio6 = pd.merge(exercicio6, df_conhecimento_do_curso,left_on='CD_CNH_CSO', right_on='CD_CNH', how='left')
# exercicio6['CD_CNH'].isna().sum()


df_sub_area_conhecimento = pd.read_csv('bases/SUB_AREA_CNH.csv')
exercicio6 = pd.merge(exercicio6, df_sub_area_conhecimento, on ='CD_SUB_AREA_CNH', how='left')
# exercicio6['CD_AREA_CNH_x'].isna().sum()
# exercicio6.head(2)

# Se coloco left join aqui, aumenta pra 300 os registros com nulo
df_area_conhecimento = pd.read_csv('bases/AREA_CNH.csv')
exercicio6 = pd.merge(exercicio6, df_area_conhecimento,right_on='CD_AREA_CNH', left_on='CD_AREA_CNH_x', how='left' )
# exercicio6['CD_TIP_FRMC_SUPR'].isna().sum()
# exercicio6['CD_TIP_FRMC_SUPR'].head(2)
# teste
df_tipo_formacao_superior = pd.read_csv('bases/TIP_FRMC_SUPR.csv')
exercicio6 = pd.merge(exercicio6, df_tipo_formacao_superior, on='CD_TIP_FRMC_SUPR', how='left' )

# exercicio6 = pd.merge(exercicio6, df_area_conhecimento,right_on='CD_AREA_CNH', left_on='CD_AREA_CNH_x', how='inner' )
# df_area_conhecimento = pd.read_csv('bases/AREA_CNH.csv')
# df_conhecimento_do_curso = pd.read_csv('bases/CNH.csv')
# df_tipo_formacao_superior = pd.read_csv('bases/TIP_FRMC_SUPR.csv')
df_lista_treinamentos = pd.read_csv('bases/lista_treinamentos.csv')
# exercicio6 = pd.merge(exercicio6, df_conhecimento_do_curso,left_on='CD_CNH_CSO', right_on='CD_CNH', how='inner')
# exercicio6 = pd.merge(exercicio6,df_sub_area_conhecimento, on ='CD_SUB_AREA_CNH', how='inner'  )
# exercicio6 = pd.merge(exercicio6, df_area_conhecimento,right_on='CD_AREA_CNH', left_on='CD_AREA_CNH_x', how='inner' )
# exercicio6 = pd.merge(exercicio6, df_tipo_formacao_superior, on='CD_TIP_FRMC_SUPR', how='inner' )
exercicio6 = pd.merge(exercicio6, df_lista_treinamentos, left_on='CD_CSO', right_on='Código Educa', how='left' )
exercicio6['IN_TRLA_ESTG'] = np.where(exercicio6['Código Educa'].notna(), 'S', 'N')
colunas = ['CD_CSO', 'NM_CSO', 'TX_CSO', 'TX_OBJT_CSO', 'TX_DSMP_EPRO', 'TX_OBJT_ESTG', 
           'CD_AREA_CNH_x','NM_AREA_CNH','CD_SUB_AREA_CNH', 'NM_SUB_AREA_CNH', 'CD_CNH_CSO','NM_CNH',
           'CGHR_CSO', 'CD_TIP_FRMC_SUPR', 'TX_TIP_FRMC_SUPR', 'CD_MDLD_CSO','CD_NVL_CSO',
           'CD_NTZ_CSO', 'CD_TIP_OGM_CSO', 'CD_TIP_PBCO', 'IN_VGC_CSO', 'IN_TRLA_ESTG', 'Etapa']
exercicio6 = exercicio6[colunas]

120

In [29]:
regra3_1 = ['TESTE EDUCA', 'TESTE GTD', 'TESTE', 'TESTANDO', 'DADFAFD', 'SGASDG', 'NXYZ', 'R']

exercicio6 = exercicio6[~exercicio6['TX_OBJT_CSO'].isin(regra3_1) | exercicio6['TX_OBJT_CSO'].isna()]

exercicio6 = exercicio6[~(((exercicio6['TX_OBJT_CSO'] == 'A') | exercicio6['TX_OBJT_CSO'].isna()) & exercicio6['CD_CNH_CSO'].isna())]

regra3_3 = ['EXCEL TESTE', 'TESTE DISCIPLINA', 'EXCLUIR', 'ALURA']
exercicio6 = exercicio6[~exercicio6['NM_CSO'].str.contains('|'.join(regra3_3), na=False)]

exercicio6 = exercicio6[~((exercicio6['NM_CSO'].str.contains('TESTE', na=False)) & (exercicio6['CD_CNH_CSO'].isna()) & (exercicio6['CD_CSO'] != 7740))]

exercicio6 = exercicio6[~((exercicio6['NM_CSO'].str.contains('TESTE', na=False)) & (exercicio6['TX_OBJT_CSO'] == '.'))]

regra3_6 = ['TESTE MATERIAL', 'TESTE GERAL']
exercicio6 = exercicio6[~exercicio6['TX_CSO'].str.contains('|'.join(regra3_6), na=False)]

exercicio6 = exercicio6[~(exercicio6['NM_CSO'].str.contains('EXCLUIDO', na=False) | exercicio6['TX_CSO'].str.contains('EXCLUIDO', na=False))]

exercicio6 = exercicio6.rename(columns={   
    'Etapa': 'NM_ETP',
    'CD_AREA_CNH_x' : 'CD_AREA_CNH',
    'CGHR_CSO' : 'QT_CGHR_CSO',
    'NM_CNH': 'NM_CNH_CSO'
})
exercicio6['CD_CSO'] = pd.to_numeric(exercicio6['CD_CSO']).astype('Int64')
exercicio6['CD_AREA_CNH'] = pd.to_numeric(exercicio6['CD_AREA_CNH']).astype('Int64')
exercicio6['CD_SUB_AREA_CNH'] = pd.to_numeric(exercicio6['CD_SUB_AREA_CNH']).astype('Int64')
exercicio6['CD_CNH_CSO'] = pd.to_numeric(exercicio6['CD_CNH_CSO']).astype('Int64')
exercicio6['QT_CGHR_CSO'] = pd.to_numeric(exercicio6['QT_CGHR_CSO']).astype('Int64')
exercicio6['CD_TIP_FRMC_SUPR'] = pd.to_numeric(exercicio6['CD_TIP_FRMC_SUPR']).astype('Int64')
exercicio6['CD_MDLD_CSO'] = pd.to_numeric(exercicio6['CD_MDLD_CSO']).astype('Int64')
exercicio6['CD_NVL_CSO'] = pd.to_numeric(exercicio6['CD_NVL_CSO']).astype('Int64')
exercicio6['CD_TIP_OGM_CSO'] = pd.to_numeric(exercicio6['CD_TIP_OGM_CSO']).astype('Int64')
exercicio6['CD_NTZ_CSO'] = pd.to_numeric(exercicio6['CD_NTZ_CSO']).astype('Int64')
exercicio6['CD_TIP_PBCO'] = pd.to_numeric(exercicio6['CD_TIP_PBCO']).astype('Int64')

exercicio6['NM_ETP'] = exercicio6['NM_ETP'].replace({np.nan: None})
exercicio6['TX_TIP_FRMC_SUPR'] = exercicio6['TX_TIP_FRMC_SUPR'].replace({np.nan: None})
exercicio6['CD_TIP_FRMC_SUPR'] = exercicio6['CD_TIP_FRMC_SUPR'].replace({np.nan: None})
exercicio6['QT_CGHR_CSO'] = exercicio6['QT_CGHR_CSO'].replace({np.nan: None})
exercicio6['NM_CNH_CSO'] = exercicio6['NM_CNH_CSO'].replace({np.nan: None})
exercicio6['NM_SUB_AREA_CNH'] = exercicio6['NM_SUB_AREA_CNH'].replace({np.nan: None})
exercicio6['CD_SUB_AREA_CNH'] = exercicio6['CD_SUB_AREA_CNH'].replace({np.nan: None})
exercicio6['NM_AREA_CNH'] = exercicio6['NM_AREA_CNH'].replace({np.nan: None})
exercicio6['CD_AREA_CNH'] = exercicio6['CD_AREA_CNH'].replace({np.nan: None})
exercicio6['TX_OBJT_ESTG'] = exercicio6['TX_OBJT_ESTG'].replace({np.nan: None})
exercicio6['TX_DSMP_EPRO'] = exercicio6['TX_DSMP_EPRO'].replace({np.nan: None})


exercicio6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53402 entries, 0 to 53401
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_CSO            53402 non-null  Int64
 1   NM_CSO            53402 non-null  object
 2   TX_CSO            53402 non-null  object
 3   TX_OBJT_CSO       53402 non-null  object
 4   TX_DSMP_EPRO      53402 non-null  object
 5   TX_OBJT_ESTG      53402 non-null  object
 6   CD_AREA_CNH       53327 non-null  object
 7   NM_AREA_CNH       53327 non-null  object
 8   CD_SUB_AREA_CNH   53327 non-null  object
 9   NM_SUB_AREA_CNH   53327 non-null  object
 10  CD_CNH_CSO        53402 non-null  Int64
 11  NM_CNH_CSO        53327 non-null  object
 12  QT_CGHR_CSO       4453 non-null   object
 13  CD_TIP_FRMC_SUPR  47798 non-null  object
 14  TX_TIP_FRMC_SUPR  47798 non-null  object
 15  CD_MDLD_CSO       53402 non-null  Int64
 16  CD_NVL_CSO        53402 non-null  Int64
 17  CD_NTZ_CSO        53402 non-null  Int64
 18  CD_TIP_OGM_CSO    53402 non-null  Int64
 19  CD_TIP_PBCO       53402 non-null  Int64
 20  IN_VGC_CSO        53402 non-null  object
 21  IN_TRLA_ESTG      53402 non-null  object
 22  NM_ETP            120 non-null    object
dtypes: Int64(7), object(16)
memory usage: 6.9+ MB

In [28]:
exercicio6

,CD_CSO,NM_CSO,TX_CSO,TX_OBJT_CSO,TX_DSMP_EPRO,TX_OBJT_ESTG,CD_AREA_CNH,NM_AREA_CNH,CD_SUB_AREA_CNH,NM_SUB_AREA_CNH,...,CD_TIP_FRMC_SUPR,TX_TIP_FRMC_SUPR,CD_MDLD_CSO,CD_NVL_CSO,CD_NTZ_CSO,CD_TIP_OGM_CSO,CD_TIP_PBCO,IN_VGC_CSO,IN_TRLA_ESTG,NM_ETP
0,77933,EDUCACAO CORPORATIVA: DESENVOL,EDUCACAO CORPORATIVA: DESENVOLVENDO E GERENCIA...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,900,A CLASSIFICAR ...,990,A CLASSIFICAR ...,...,0,CONHECIMENTO TEORICO,9,9,1,2,3,S,N,None
1,77935,"ANUNCIANTE E MIDIA, IV FORUM","ANUNCIANTE E MIDIA, IV FORUM ...",MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,900,A CLASSIFICAR ...,990,A CLASSIFICAR ...,...,0,CONHECIMENTO TEORICO,9,9,1,2,3,S,N,None
2,77937,INTERNATIONAL SOCIETY FOR THE,"INTERNATIONAL SOCIETY FOR THE STUDY OF WORK, C...",MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,900,A CLASSIFICAR ...,990,A CLASSIFICAR ...,...,0,CONHECIMENTO TEORICO,9,9,1,2,3,S,N,None
3,5284040,ESPEC METODOL ENSINO SUPERIOR,ESPECIALIZACAO EM METODOLOGIA DO ENSINO SUPERI...,MIGRADO CRH/GTD,MIGRADO CRH/GTD,MIGRADO CRH/GTD,110,AREA DE EDUCACAO ...,40,AUDITORIA E PERICIA CONTABIL ...,...,35,POS-GRADUACAO LATO SENSU,1,4,2,2,3,S,N,None
4,5284040,ESPEC METODOL ENSINO SUPERIOR,ESPECIALIZACAO EM METODOLOGIA DO ENSINO SUPERI...,MIGRADO CRH/GTD,MIGRADO CRH/GTD,MIGRADO CRH/GTD,110,AREA DE EDUCACAO ...,40,BOTANICA ...,...,35,POS-GRADUACAO LATO SENSU,1,4,2,2,3,S,N,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53397,62988,ESPECIALIZACAO EM GESTAO DE MA,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,MEDICINA VETERINARIA ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,None
53398,62988,ESPECIALIZACAO EM GESTAO DE MA,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,SEGMENTACAO DE CLIENTES ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,None
53399,62988,ESPECIALIZACAO EM GESTAO DE MA,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,PSICOLOGIA ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,None
53400,62988,ESPECIALIZACAO EM GESTAO DE MA,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,MEDICINA ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,None
53401,62988,ESPECIALIZACAO EM GESTAO DE MA,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,SERVIÇOS ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,None

# Exercício 7 - Nova tabela de UOR

<b>Nível de dificuldade (1 a 5):</b> 4

<b>Requisitos:</b> exercícios 1 e 2

Criar um DataFrame Pandas chamado <b>exercicio7</b> contendo as informações das UOR e Vice-Presidência jurisdicionante, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Dependência da Unidade Organizacional|?|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.|N|?|?
|2|Código da Unidade Organizacional|?|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|?|?
|3|Sigla da Unidade Organizacional|?|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|S|?|?
|4|Nome da Unidade Organizacional Reduzido|?|object|Nome reduzido da Unidade Organizacional.|N|?|?
|5|Código da Dependência da Vice-Presidência|?|Int64|Código identificador da Dependência da Vice-Presidência jurisdicionante da UOR.|S|?|?
|6|Sigla da Vice-Presidência|?|object|Sigla da Vice-Presidência jurisdicionante da UOR.|S|?|?

<b>Regra:</b> considere apenas as UORs cujo Item de Arquitetura corresponda a "DIRETORIA" ou "UNIDADE".

<b>Dica:</b> atenção no momento de fazer a junção das tabelas de UOR e Vínculo de UOR. Lembrando que uma mesma dependência possui várias UORs além da principal. Consulte a documentação das tabelas.

In [13]:
exercicio7 = pd.DataFrame()
uors = pd.DataFrame()
for i in range(1,13):
    zip_file = f'bases/UOR/uor{i:02d}.zip'
    df = pd.read_csv(zip_file, compression='zip')
    exercicio7 = pd.concat([exercicio7, df])
    uors = pd.concat([uors, df])

df_item_de_arquitetura = pd.read_csv('bases/ITEM_AQTT_UOR.csv', sep=';')
df_item_de_arquitetura['NM_ITEM_AQTT_UOR'] = df_item_de_arquitetura['NM_ITEM_AQTT_UOR'].astype(str).str.strip()
df_item_de_arquitetura['CD_ITEM_AQTT_UOR'] = df_item_de_arquitetura['CD_ITEM_AQTT_UOR'].astype(str).str.strip()
df_item_de_arquitetura['CD_ITEM_AQTT_UOR'] = df_item_de_arquitetura['CD_ITEM_AQTT_UOR'].astype('Int64')
exercicio7['CD_ITEM_AQTT_UOR'] = exercicio7['CD_ITEM_AQTT_UOR'].astype('Int64')
# df_item_de_arquitetura = df_item_de_arquitetura.query("NM_ITEM_AQTT_UOR == 'DIRETORIA' or NM_ITEM_AQTT_UOR == 'UNIDADE'")
# exercicio7 = pd.merge(exercicio7, df_item_de_arquitetura, on='CD_ITEM_AQTT_UOR', how='inner')
exercicio7 = exercicio7.query("CD_ITEM_AQTT_UOR == 2 or CD_ITEM_AQTT_UOR == 3")


df_tipo_vinculo = pd.read_csv('bases/TIP_VCL.csv')
# abaixo seleciono apenas vinculos de jurisdicionante
df_tipo_vinculo = df_tipo_vinculo.query("CD_NTZ_TIP_VCL == 1")
df_vinculo_uor = pd.read_csv('bases/VCL_UOR.csv', sep=';')

df_vinculo_uor = pd.merge(df_vinculo_uor, df_tipo_vinculo, on='CD_TIP_VCL', how='inner' )
exercicio7 = pd.merge(exercicio7, df_vinculo_uor, left_on='CD_UOR', right_on='CD_UOR_VCLD', how='inner')
exercicio7 = pd.merge(exercicio7, uors, left_on='CD_UOR_VCLR', right_on='CD_UOR', how='inner')
colunas = ['CD_DEPE_UOR_x', 'CD_UOR_x', 'SG_UOR_x', 'NM_UOR_RDZ_x', 'CD_UOR_y', 'SG_UOR_y' ]
exercicio7 = exercicio7[colunas]
exercicio7 = exercicio7.rename(columns={   
    'CD_DEPE_UOR_x': 'CD_DEPE_UOR',
    'CD_UOR_x' : 'CD_UOR',
    'SG_UOR_x' : 'SG_UOR',
    'NM_UOR_RDZ_x': 'NM_UOR_RDZ',
    'CD_UOR_y' : 'CD_DEPE_VICE_PRSA',
    'SG_UOR_y' : 'SG_VICE_PRSA'
})
exercicio7['CD_DEPE_UOR'] = pd.to_numeric(exercicio7['CD_DEPE_UOR'], errors='coerce').astype('Int64')
exercicio7['CD_UOR'] = pd.to_numeric(exercicio7['CD_UOR'], errors='coerce').astype('Int64')
exercicio7['CD_DEPE_VICE_PRSA'] = pd.to_numeric(exercicio7['CD_DEPE_VICE_PRSA'], errors='coerce').astype('Int64')
exercicio7 = exercicio7.drop_duplicates()
exercicio7

,CD_DEPE_UOR,CD_UOR,SG_UOR,NM_UOR_RDZ,CD_DEPE_VICE_PRSA,SG_VICE_PRSA
0,8150,4923,AUDIT,AUDITORIA INTERNA,38047,
1,8537,5096,SECEX,SECEX-SEC EXECUTIVA,38047,
2,8550,5108,DIRCO,DIRCO-CONTROLADORIA,38047,
3,8553,5111,DIJUR,DIJUR-JURIDICA,38047,
4,8556,5114,DICRE,DICRE/RISCO CREDITO,38047,
...,...,...,...,...,...,...
1393,9010,40004,UAC,UAC-AT CAN FIS E DIG,40004,UAC
1395,9968,40066,UAN,UAN-IA. ANALITICA,40066,UAN
1397,9720,43773,ASG,ASG,43773,ASG
1399,9240,43834,UEG,UEG-ESTR. GOVERNO,43834,UEG
1401,9078,44168,INOVA,PROG. INOVA VAREJO,44168,INOVA

In [67]:
exercicio7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 453496 entries, 0 to 453495
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CD_DEPE_UOR        127752 non-null  Int64
 1   CD_UOR             453496 non-null  Int64
 2   SG_UOR             109824 non-null  object
 3   NM_UOR_RDZ         453496 non-null  object
 4   CD_DEPE_VICE_PRSA  40869 non-null   Int64
 5   SG_UOR_y           38400 non-null   object
dtypes: Int64(3), object(3)
memory usage: 20.3+ MB

In [68]:
exercicio7

,CD_DEPE_UOR,CD_UOR,SG_UOR,NM_UOR_RDZ,CD_DEPE_VICE_PRSA,SG_UOR_y
0,1,1,NaN,RIO,<NA>,NaN
1,0,2,NaN,CVRDN-DOCENAVE,<NA>,NaN
2,2,3,NaN,MANAUS,<NA>,NaN
3,3,4,NaN,PRESIDENTE VARGAS,<NA>,NaN
4,4,5,NaN,SANTOS,<NA>,NaN
...,...,...,...,...,...,...
453491,<NA>,414074,NaN,FARMACIA ROCHA POPUL,<NA>,NaN
453492,<NA>,414075,NaN,MAIS VOCE TECNOLOGIA,<NA>,NaN
453493,<NA>,414076,NaN,MERCANTIL RODRIGUES,<NA>,NaN
453494,<NA>,414077,NaN,FALCON COMERCIAL LTD,<NA>,NaN
453495,<NA>,414078,NaN,JL LOGISTICA INTEGRA,<NA>,NaN

# Exercício 8 - Verificação do cumprimento do indicador - Parte 1

<b>Nível de dificuldade (1 a 5):</b> 4

<b>Requisitos:</b> exercícios 4 e 6

Criar um DataFrame Pandas chamado <b>exercicio8</b> contendo as informações consolidadas de todos os funcionários dos prefixos alvo da análise, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Matrícula do Funcionário|?|Int64|Código da matrícula (F) do funcionário. |N|?|?|
|2|Código da Unidade Organizacional de Localização|?|Int64|Código da UOR de localização do funcionário.|N|?|?|
|3|Quantidade Total de Cursos|?|Int64|Quantidade total de cursos realizados pelo funcionário no ano atual|N|?|?|
|4|Quantidade Total de Cursos da Trilha|?|Int64|Quantidade total de cursos da Trilha Estratégica realizados pelo funcionário até o momento|N|?|?|
|5|Quantidade Total de Horas no Primeiro Semestre|?|Int64|Quantidade total de horas de treinamento realizadas pelo funcionário no primeiro semestre do ano atual|N|?|?|
|6|Quantidade Total de Horas da Trilha no Primeiro Semestre|?|Int64|Quantidade total de horas de treinamento da Trilha Estratégica realizadas pelo funcionário no primeiro semestre do ano atual|N|?|?|
|7|Quantidade Total de Horas no Segundo Semestre|?|Int64|Quantidade total de horas de treinamento realizadas pelo funcionário no segundo semestre do ano atual|N|?|?|
|8|Quantidade Total de Horas da Trilha no Segundo Semestre|?|Int64|Quantidade total de horas de treinamento da Trilha Estratégica realizadas pelo funcionário no segundo semestre do ano atual|N|?|?|
|9|Indicador de Cumprimento Total da Trilha no Primeiro Semestre|?|object|Indicador que sinaliza se o funcionário realizou todos os cursos da Trilha Estratégica até o primeiro semestre. Possíveis valores: "S" ou "N".|N|?|?|
|10|Indicador de Cumprimento Total da Trilha no Segundo Semestre|?|object|Indicador que sinaliza se o funcionário realizou todos os cursos da Trilha Estratégica até o semestre. Possíveis valores: "S" ou "N".|N|?|?|

<b>Regra1:</b> ignorar os cursos para os quais não houver informação sobre a Carga Horária.

<b>Regra2:</b> atentar para a ocorrência de registros duplicados.

<b>Dica:</b> verifique os prefixos alvo da análise na descrição do desafio.

# Exercício 9 - Verificação do cumprimento do indicador - Parte 2

<b>Nível de dificuldade (1 a 5):</b> 5

<b>Requisitos:</b> exercício 8

Criar um DataFrame Pandas chamado <b>exercicio9</b> contendo todas as informações do exercício 8 mais os atributos relacionados abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|10|Indicador de Funcionário Avaliável no Primeiro Semestre|?|object|Indicador que sinaliza se o funcionário é avaliável no primeiro semestre.|N|?|?|
|11|Indicador de Funcionário Avaliável no Segundo Semestre|?|object|Indicador que sinaliza se o funcionário é avaliável no segundo semestre.|N|?|?|

<b>Regra 1:</b> os funcionários que atenderem às situações abaixo elencadas serão considerados "Não avaliáveis"
- Permanecerem por mais de 90 dias em situação diferente de 100-Força de Trabalho Real no semestre.
- Atuarem como colaboradores (Disponibilidade ou Cessão) ou adidos por mais de 90 dias no semestre.
- Cujo total de dias em situação diferente de 100-Força de Trabalho Real somado ao total de dias em colaboração (Disponibilidade ou Cessão) for maior que 90 dias.
- Estiverem em situação de colaboração ou adição no encerramento da apuração semestral (fechamento do semestre: 30/06/2024 ou 31/12/2024)
- Funcionários empossados no BB há menos de 90 dias no encerramento da apuração semestral.

<b>Regra 2:</b> para fins de apuração do indicador de Capacitação Estratégica, considere:
- como colaboração os funcis que apresentarem situação "DISP" ou "ADIDOS" ou "CEDIDOS", exceto folga.
- como situação diferente de 100-Força de Trabalho Real apenas as situações que contemplarem:
  - Licença Saúde (LS)
  - Licença Interesse
  - Licença Maternidade
  - Licença Paternidade
  - Nascimento de Filho - Pai
  - Licença para assistência a pessoa enferna da família (LIC.P/AS.PES.ENF.FAM-70% PR)

# Exercício 10 - Cumprimento do indicador por prefixo

<b>Nível de dificuldade (1 a 5):</b> 5

<b>Requisitos:</b> exercício 9

<b><<< Parte 1 >>></b>

Criar um DataFrame Pandas chamado <b>exercicio10</b> contendo a consolidação das informações das UORs:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Dependência da Unidade Organizacional|?|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.|N|?|?|
|2|Código da Unidade Organizacional|?|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|?|?|
|3|Sigla da Unidade Organizacional|?|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|N|?|?|
|4|Nome da Unidade Organizacional Reduzido|?|object|Nome reduzido da Unidade Organizacional.|N|?|?|
|5|Código da Dependência da Vice-Presidência|?|Int64|Código identificador da Dependência da Vice-Presidência jurisdicionante da UOR.|N|?|?|
|6|Sigla da Vice-Presidência|?|object|Sigla da Vice-Presidência jurisdicionante da UOR.|N|?|?
|7|Quantidade Total de Funcionários da Unidade Organizacional|?|Int64|Quantidade total de funcionários localizados na UOR|N|?|?|
|8|Indicador de Unidade Organizacional Alvo da Análise|?|object|Indica se a UOR é alvo da análise. Possíveis valores: "S" ou "N". |N|?|?|
|9|Índice de Atingimento do Indicador no Primeiro Semestre|?|float64|Indicativo do percentual de atingimento do indicador no primeiro semestre, caso a UOR seja alvo da análise. Varia de 0 a 1, com duas casas decimais.|S|?|?|
|10|Índice de Atingimento do Indicador no Segundo Semestre|?|float64|Indicativo do percentual de atingimento do indicador no segundo semestre, caso a UOR seja alvo da análise. Varia de 0 a 1, com duas casas decimais.|S|?|?|

<b>Regras gerais:</b>
    
- deverão ser listadas apenas as UORs que possuem Vice-Presidência vinculada.

- verifique os prefixos alvo da análise na descrição do desafio.

Considere as regras abaixo para apuração do cumprimento do indicador para cada um dos prefixos alvo da análise:

<b>Regras de apuração individual</b>: o indicador será considerado cumprido para os funcionários que:
- completarem o mínimo de 20 horas total de cursos, sendo no mínimo 10h de treinamentos da Trilha Estratégica, realizados dentro do semestre de apuração
- tiverem cumprido toda a Trilha Estratégica na data de apuração, desde que tenha cumprido o mínimo de 20 horas total no semestre de apuração

<b>Regra de apuração por prefixo</b>: o indicador será considerado cumprido para os prefixos que tiverem 90% do público avaliável com o indicador cumprido no semestre.

<b><<< Parte 2 >>></b>

Considerando as regras de apuração acima, responda às perguntas abaixo tomando por base a apuração do primeiro semestre:

    a) quais os prefixos que cumpriram o indicador?

    b) qual o prefixo com menor índice de cumprimento do indicador?

    c) qual o prefixo com o maior índice de cumprimento do indicador?

    d) qual o prefixo com o menor índice de funcionários não avaliáveis?

    e) qual o maior índice de funcionários não avaliáveis dentre os observados nos prefixos avaliados?

Ao final do exercício, deverá ser criada uma variável para cada um dos itens acima, sendo o nome e o tipo delas conforme abaixo detalhado:

|Item|Nome da variável|Tipo de objeto|
|---|---|---|
|a)|exercicio10a|variável do tipo list, itens do tipo int|
|b)|exercicio10b|int|
|c)|exercicio10c|int|
|d)|exercicio10d|int|
|e)|exercicio10e|float (2casas decimais)|

<b>Regra 1:</b> utilize a função round() para eventuais arredondamentos.

<b>Regra 2:</b> em caso de empate, o desempate será pela maior quantidade de funcionários avaliáveis no prefixo.

# Boletim de soluções

In [ ]:
# importar bibliotecas para geração dos artefatos
import pickle

In [ ]:
# Favor não alterar esta célula
# verificar a existência das variáveis e gerar artefatos para verificação
if 'exercicio1' in globals():
    print('DataFrame exercicio1 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio1.pkl','wb') as f:
        pickle.dump(exercicio1, f)
else:
    print('O exercício 1 não tem condições de ser avaliado.')

if 'exercicio2' in globals():
    print('DataFrame exercicio2 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio2.pkl','wb') as f:
        pickle.dump(exercicio2, f)
else:
    print('O exercício 2 não tem condições de ser avaliado.')
    
if 'exercicio3' in globals():
    print('DataFrame exercicio3 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio3.pkl','wb') as f:
        pickle.dump(exercicio3, f)
else:
    print('O exercício 3 não tem condições de ser avaliado.')

if 'exercicio4' in globals():
    print('DataFrame exercicio4 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio4.pkl','wb') as f:
        pickle.dump(exercicio4, f)
else:
    print('O exercício 4 não tem condições de ser avaliado.')

if 'exercicio5' in globals():
    print('DataFrame exercicio5 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio5.pkl','wb') as f:
        pickle.dump(exercicio5, f)
else:
    print('O exercício 5 não tem condições de ser avaliado.')
    
if 'exercicio6' in globals():
    print('DataFrame exercicio6 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio6.pkl','wb') as f:
        pickle.dump(exercicio6, f)
else:
    print('O exercício 6 não tem condições de ser avaliado.')

if 'exercicio7' in globals():
    print('DataFrame exercicio7 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio7.pkl','wb') as f:
        pickle.dump(exercicio7, f)
else:
    print('O exercício 7 não tem condições de ser avaliado.')

if 'exercicio8' in globals():
    print('DataFrame exercicio8 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio8.pkl','wb') as f:
        pickle.dump(exercicio8, f)
else:
    print('O exercício 8 não tem condições de ser avaliado.')

if 'exercicio9' in globals():
    print('DataFrame exercicio9 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio9.pkl','wb') as f:
        pickle.dump(exercicio9, f)
else:
    print('O exercício 9 não tem condições de ser avaliado.')


exercicio10_variaveis = {}

exercicio10_variaveis['variavel'] = []
exercicio10_variaveis['valor'] = []
if 'exercicio10a' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10a')
    exercicio10_variaveis['valor'].append(exercicio10a)
if 'exercicio10b' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10b')
    exercicio10_variaveis['valor'].append(exercicio10b)
if 'exercicio10b' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10c')
    exercicio10_variaveis['valor'].append(exercicio10c)
if 'exercicio10d' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10d')
    exercicio10_variaveis['valor'].append(exercicio10d)
if 'exercicio10e' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10e')
    exercicio10_variaveis['valor'].append(exercicio10e)

exercicio10_variaveis = pd.DataFrame(exercicio10_variaveis)
if exercicio10_variaveis.shape[0] == 5 and 'exercicio10' in globals():
    print('DataFrame exercicio10 localizado. Ele poderá ser enviado para validação.')
    print('Variáveis exercicio10a, exercicio10b, exercicio10c, exercicio10d e exercicio10e localizadas. Elas poderão ser enviadas para validação.')
    with open(f'{chaveF}_exercicio10_variaveis.pkl','wb') as f:
        pickle.dump(exercicio10_variaveis, f)
    with open(f'{chaveF}_exercicio10.pkl','wb') as f:
        pickle.dump(exercicio10, f)

else:
    print('O exercício 10 não tem condições de ser avaliado.')